<div id="content" class="content" *ngIf="isLoaded">
  <ul class="breadcrumb pull-right">
    <li><a href [routerLink]="['/dashboard']" class="link-none">Dashboard</a></li>
    <li><a href [routerLink]="['/patients']" class="link-none">Patients</a></li>
    <li class="active">Patient {{patient.patientSequenceNumber | dashify}}</li>
  </ul>
  <h1 class="page-header">Patient {{patient.patientSequenceNumber | dashify}}</h1>
  <div class="row" matchHeight="panel-height">
    <div class="col-md-6">
      <div class="panel panel-white panel-accent-sides-purple overflow-hidden panel-height">
        <div class="panel-heading" id="patient_detail_left">
          <dl class="dl-horizontal">
            <dt>Patient Sequence Number</dt>
            <dd>{{patient.patientSequenceNumber | dashify}}</dd>
            <dt>Patient</dt>
            <dd>
              <span *ngIf="patient.gender && patient.gender!=='PATIENT_REFUSAL'"> {{patient.gender}}</span>
              <span *ngIf="patient.ethnicity && patient.ethnicity!=='PATIENT_REFUSAL'"> {{patient.ethnicity}}</span>
              <span *ngIf="patient.raceList && patient.raceList!=='PATIENT_REFUSAL'"> {{patient.raceList}}</span>
            </dd>
            <dt>Status</dt>
            <dd><span [colorCodePatients]="patient.currentPatientStatus">{{patient.currentPatientStatus | dashify}}</span></dd>
            <dt>Assignment Reason</dt>
            <dd>{{(patient.currentPatientAssignmentLogic ? patient.currentPatientAssignmentLogic.reason : '') | dashify}}</dd>
            <dt>Current Step</dt>
            <dd>{{patient.currentStepNumber | dashify}}</dd>
            <dt>Treatment Arm</dt>
            <dd>{{(patient.currentPatientAssignmentLogic ? patient.currentPatientAssignmentLogic.treatmentArmId + ' (' + patient.currentPatientAssignmentLogic.treatmentArmVersion + ')' : '') | dashify}}</dd>
            <dt>Registration Date</dt>
            <dd>{{patient.registrationDate | gmt | dashify}}</dd>
            <dt>Last Rejoin Scan Date</dt>
            <dd>{{patient.lastRejoinScanDate | gmt | dashify}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-white panel-accent-sides-purple overflow-hidden panel-height">
        <div class="panel-heading" id="patient_detail_right">
          <dl class="dl-horizontal">
            <dt>Concordance</dt>
            <dd>{{patient.concordance | dashify}}</dd>
            <dt>Disease</dt>
            <dd>{{disease.name | dashify}}</dd>
            <dt>Short Name</dt>
            <dd>{{disease.shortName | dashify}}</dd>
            <dt>CTEP Category</dt>
            <dd>{{disease.ctepCategory | dashify}}</dd>
            <dt>CTEP Sub Category</dt>
            <dd>{{disease.ctepSubCategory | dashify}}</dd>
            <dt>CTEP Term</dt>
            <dd>{{disease.ctepTerm | dashify}}</dd>
            <dt>MedDRA Code</dt>
            <dd>{{disease.medDRACode | dashify}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <ul class="nav nav-tabs nav-tabs-purple">
          <li class="active"><a href="#tab-summary" data-toggle="tab">Summary</a></li>
          <li class="" *ngFor="let biopsy of patient.biopsies; first as isFirst">
            <a href="#tab-biopsy-t-{{biopsy.biopsySequenceNumber}}" data-toggle="tab">
              <i *ngIf="isFirst" class="fa fa-bell-o" aria-hidden="true"></i> Biopsy {{biopsy.biopsySequenceNumber}}, {{biopsy.dateCreated | gmt: 'YYYY-MM-DD'}}
            </a>
          </li>
          <li class=""><a href="#tab-documents" data-toggle="tab">Documents</a></li>
        </ul>
        <div class="tab-content m-b-0">
          <div class="tab-pane active fade in" id="tab-summary">
            <div class="row">
              <div class="col-md-3" *ngIf="summaryData.pendingVariant">
                <div class="widget widget-stat bg-danger">
                  <a class="link-none" href [routerLink]="['/patients/details/variant_reports']">
                    <div class="widget-stat-icon"><i class="fa fa-file"></i></div>
                    <div class="widget-stat-info">
                      <div class="widget-stat-title">Pending Variant Report</div>
                      <div class="widget-stat-number">{{summaryData.pendingVariantDays}} days</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-3" *ngIf="summaryData.pendingAssignment">
                <div class="widget widget-stat bg-warning">
                  <a class="link-none" href [routerLink]="['/patients/details/variant_reports']">
                    <div class="widget-stat-icon"><i class="fa fa-file"></i></div>
                    <div class="widget-stat-info">
                      <div class="widget-stat-title">Pending Assignment Report</div>
                      <div class="widget-stat-number">{{summaryData.pendingAssignmentDays}} days</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <sd-patient-timeline [items]="patient.patientTriggers"></sd-patient-timeline>
              </div>
            </div>
          </div>
          <div *ngFor="let biopsy of patient.biopsies" class="tab-pane fade" id="tab-biopsy-t-{{biopsy.biopsySequenceNumber}}">
            <div class="panel-heading">
              <h4 class="panel-title f-s-18">Biopsy: {{biopsy.biopsySequenceNumber}}
              </h4>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-white overflow-hidden biopsy-panel-height panel-accent-bottom-purple">
                  <div class="panel-heading">
                    <dl class="dl-horizontal">
                      <dt>Specimen Collection Date</dt>
                      <dd>{{biopsy.specimenCollectionDate | gmt | dashify}}</dd>
                      <dt>Specimen Received Date</dt>
                      <dd>{{biopsy.specimenReceivedDate | gmt | dashify}}</dd>
                      <dt>Specimen Failure Date</dt>
                      <dd>{{biopsy.specimenFailureDate | gmt | dashify}}</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-white overflow-hidden biopsy-panel-height panel-accent-bottom-purple">
                  <div class="panel-heading">
                    <dl class="dl-horizontal">
                      <dt>Pathology Status</dt>
                      <dd>{{biopsy.pathologyStatus | dashify}}</dd>
                      <dt>Pathology Received Date</dt>
                      <dd>{{biopsy.pathologyReceivedDate | gmt | dashify}}</dd>
                      <dt>Concordance</dt>
                      <dd>{{biopsy.concordance | dashify}}</dd>
                      <dt>Comment</dt>
                      <dd>{{biopsy.comment | dashify}}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-accent-bottom-purple">
                  <div class="panel-heading">
                    <h4 class="panel-title f-s-18">Assay History</h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-td-valign-middle">
                      <thead>
                        <tr>
                          <th>Type</th>
                          <th>Gene</th>
                          <th>Assay Order Date</th>
                          <th>Assay Result Date</th>
                          <th>Result</th>
                          <th>Comment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of biopsy.assayMessages">
                          <td>IHC</td>
                          <td>{{item.gene | dashify}}</td>
                          <td>{{item.orderedDate | gmt}}</td>
                          <td>{{item.reportedDate | gmt}}</td>
                          <td>{{item.result | dashify}}</td>
                          <td>{{item.comment | dashify}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-accent-bottom-purple">
                  <div class="panel-heading">
                    <h4 class="panel-title f-s-18">Nucleic Acid Sendout
                    </h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-td-valign-middle">
                      <thead>
                        <tr>
                          <th>Molecular Sequence Number</th>
                          <th>Destination Site</th>
                          <th>Tracking Number</th>
                          <th>DNA Conc</th>
                          <th>DNA Vol</th>
                          <th>Reported Date</th>
                          <th>Comment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-template ngFor let-sendout [ngForOf]="biopsy.nucleicAcidSendouts">

                          <tr>
                            <td><i class="fa fa-share-alt"></i> {{sendout.molecularSequenceNumber | dashify}}</td>
                            <td>{{sendout.destinationSite | dashify}}</td>
                            <td>
                              <span *ngIf="sendout.trackingNumber!==null && sendout.trackingNumber!=='Local'">
                                    <a href="https://www.fedex.com/apps/fedextrack/?tracknumbers={{sendout.trackingNumber}}" class="link-none" target="_blank"><i class="fa fa-truck"></i> {{sendout.trackingNumber | dashify}}</a>
                                  </span>
                              <span *ngIf="sendout.trackingNumber===null || sendout.trackingNumber==='Local'">{{sendout.trackingNumber | dashify}}</span>
                            </td>
                            <td>{{sendout.dnaConcentration | dashify}}</td>
                            <td>{{sendout.dnaVolume | dashify}}</td>
                            <td>{{sendout.reportedDate | gmt}}</td>
                            <td>{{sendout.comment | dashify}}</td>
                          </tr>

                          <tr *ngFor="let analysis of sendout.analyses">
                            <td colspan="7" class="bg-body">
                              <div class="panel panel-with-tabs panel-accent-sides-purple panel-details-row">
                                <div class="panel-heading">
                                  <ul id="panel-tab" class="nav nav-tabs pull-right nav-tabs-purple">
                                    <li class="active"><a href="#panel-tab-info" data-toggle="tab" aria-expanded="true"><i class="fa fa-align-left"></i><span class="hidden-xs"> Info</span></a></li>
                                    <li class=""><a href="#panel-tab-files" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-archive-o"></i><span class="hidden-xs"> Files</span></a></li>
                                  </ul>
                                  <h4 class="panel-title f-s-18">Analysis ID: {{analysis.analysisId}}</h4>
                                  <h5><a href [routerLink]="['/patients/' + patient.patientSequenceNumber + '/variant_reports/' + analysis.analysisId]"><i class="fa fa-file-text-o"></i> Variant and Assignment Reports</a></h5>
                                </div>
                                <div id="panel-tab-content" class="tab-content p-t-0">
                                  <div class="tab-pane fade active in" id="panel-tab-info">
                                    <div class="row">
                                      <div class="col-md-6">
                                        <dl class="dl-horizontal m-b-4">
                                          <dt><h4>Variant Report</h4></dt>
                                          <dd></dd>
                                        </dl>

                                        <dl class="dl-horizontal">
                                          <dt>Status</dt>
                                          <dd>{{analysis.variantReportStatus | dashify}}</dd>

                                          <dt>File Received Date</dt>
                                          <dd>{{analysis.variantReporterFileReceivedDate | gmt}}</dd>

                                          <dt>Rejected/Confirmed Date</dt>
                                          <dd>{{analysis.variantReporterRejectedOrConfirmedDate | gmt}}</dd>

                                          <dt>MOIs (Confirmed/Total)</dt>
                                          <dd *ngIf="analysis.variantReport && analysis.variantReport.moiSummary">{{analysis.variantReport.moiSummary.confirmedMOIs | dashify}} / {{analysis.variantReport.moiSummary.totalMOIs | dashify}}</dd>
                                          <dd *ngIf="!analysis.variantReport || !analysis.variantReport.moiSummary">-</dd>

                                          <dt>aMOIs (Confirmed/Total)</dt>
                                          <dd *ngIf="analysis.variantReport && analysis.variantReport.moiSummary">{{analysis.variantReport.moiSummary.confirmedaMOIs | dashify}} / {{analysis.variantReport.moiSummary.totalaMOIs | dashify}}</dd>
                                          <dd *ngIf="!analysis.variantReport || !analysis.variantReport.moiSummary">-</dd>
                                        </dl>
                                      </div>

                                      <div class="col-md-6">

                                        <dl class="dl-horizontal m-b-4">
                                          <dt><h4>Assignment Report</h4></dt>
                                          <dd></dd>
                                        </dl>

                                        <dl *ngIf="analysis.assignmentReport" class="dl-horizontal">
                                          <dt>Status</dt>
                                          <dd>{{analysis.assignmentReport.patientAssignmentStatus}}</dd>

                                          <dt>Generation Date</dt>
                                          <dd>{{analysis.assignmentReport.dateAssigned | gmt}}</dd>

                                          <dt>Confirmed Date</dt>
                                          <dd>{{analysis.assignmentReport.dateConfirmed | gmt}}</dd>

                                          <dt>Sent to ECOG Date</dt>
                                          <dd>{{analysis.assignmentReport.dateSentToECOG | gmt}}</dd>

                                          <dt>Received by ECOG Date</dt>
                                          <dd>{{analysis.assignmentReport.dateReceivedByECOG | gmt}}</dd>

                                          <dt>Assignment Logic</dt>
                                          <dd>{{analysis.assignmentReport.patientAssignmentStatusMessage | dashify}}</dd>
                                        </dl>

                                        <dl *ngIf="!analysis.assignmentReport" class="dl-horizontal">
                                          <dt class="text-muted f-w-400">No Assignment data yet</dt>
                                          <dd></dd>
                                        </dl>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="tab-pane fade" id="panel-tab-files">
                                    <p>
                                      <button type="button" class="btn btn-purple-light"><i class="fa fa-download"></i> DNA BAM</button>
                                      <button type="button" class="btn btn-purple-light"><i class="fa fa-download"></i> DNA BAI</button>
                                      <button type="button" class="btn btn-purple-light"><i class="fa fa-download"></i> RNA BAM</button>
                                      <button type="button" class="btn btn-purple-light"><i class="fa fa-download"></i> RNA BAI</button>
                                      <button type="button" class="btn btn-purple-light"><i class="fa fa-download"></i> VCF</button>
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <a href="#file-upload" class="btn btn-purple-light pull-right" style="margin-top: -6px;" data-toggle="modal"><i class="fa fa-upload"></i> Upload Files</a>
                            </td>
                          </tr>

                        </ng-template>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-documents">
            <div class="panel-heading">
              <h4 class="panel-title f-s-18">Patient Documents</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-td-valign-middle">
                <thead>
                  <tr>
                    <th>Document</th>
                    <th>Comment</th>
                    <th>Uploaded Date</th>
                    <th>User</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="4" class="text-muted">No Documents Available</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div [dropzone]="configDocuments" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="file-upload" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">Upload BAM files and Variant ZIP files</h4>
      </div>
      <div class="modal-body">
        <div class="form-group has-feedback" [ngClass]="{true:'has-error',false:'has-success'}[analysisId.length==0]">
          <label class="control-label">Analysis ID</label>
          <input type="text" class="form-control" placeholder="Enter Analysis ID" [(ngModel)]="analysisId">
          <span class="fa form-control-feedback" [ngClass]="{true:'fa-times',false:'fa-check'}[analysisId.length==0]"></span>
        </div>
        <div class="row">
          <div class="col-md-4 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[variantZip]">
            <label class="control-label">Variant ZIP File</label>
            <div class="form-control" [ngClass]="{true:'disable-div'}[analysisId.length==0]" [dropzone]="configVariantZip" (addedfile)="addedFileVariantZip($event)"
              (removedfile)="removedFile()" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
              <div class="dz-message" data-dz-message>
                <span *ngIf="analysisId.length!=0">
                  Click or drag Variant ZIP file here
                </span>
                <span *ngIf="analysisId.length == 0">
                  Enter Analysis ID to add Variant ZIP file
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[dnaBam]">
            <label class="control-label">DNA BAM File</label>
            <div class="form-control" [ngClass]="{true:'disable-div'}[analysisId.length==0]" [dropzone]="configDnaBam" (addedfile)="addedFileDnaBam($event)"
              (removedfile)="removedFileDnaBam()" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
              <div class="dz-message" data-dz-message>
                <span *ngIf="analysisId.length!=0">
                  Click or drag DNA BAM file here
                </span>
                <span *ngIf="analysisId.length == 0">
                  Enter Analysis ID to add DNA BAM file
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[cdnaBam]">
            <label class="control-label">cDNA BAM File</label>
            <div class="form-control" [ngClass]="{true:'disable-div'}[analysisId.length==0]" [dropzone]="configCdnaBam" (addedfile)="addedFileCdnaBam($event)"
              (removedfile)="removedFileCdnaBam()" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
              <div class="dz-message" data-dz-message>
                <span *ngIf="analysisId.length!=0">
                  Click or drag cDNA BAM file here
                </span>
                <span *ngIf="analysisId.length == 0">
                  Enter Analysis ID to add cDNA BAM file
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a [ngClass]="{false:'disabled'}[variantZip && dnaBam && cdnaBam]" href="javascript:;" class="btn width-100 btn-purple-light"
          data-dismiss="modal" aria-hidden="true"><i class="fa fa-cloud-upload"></i> Upload</a>
      </div>
    </div>
  </div>
</div>
