<div id="content" class="content" *ngIf="dataAvailable">
  <ul class="breadcrumb pull-right">
    <li><a href [routerLink]="['/dashboard']" class="link-none">Dashboard</a></li>
    <li><a href [routerLink]="['/patients']" class="link-none">Patients</a></li>
    <li class="active">Patient {{patientData.patientSequenceNumber | dashify}}</li>
  </ul>
  <h1 class="page-header">Patient {{patientData.patientSequenceNumber | dashify}}</h1>
  <div class="row" matchHeight="panel-height">
    <div class="col-md-6">
      <div class="panel panel-white panel-accent-sides-purple overflow-hidden panel-height">
        <div class="panel-heading">
          <dl class="dl-horizontal">
            <dt>Patient Sequence Number</dt>
            <dd>{{patientData.patientSequenceNumber | dashify}}</dd>
            <dt>Patient</dt>
            <dd>{{patientData.gender | dashify}}, {{patientData.ethnicity | dashify}}</dd>
            <dt>Status</dt>
            <dd><span [colorCodePatients]="patientData.currentPatientStatus">{{patientData.currentPatientStatus | dashify}}</span></dd>
            <dt>Assignment Reason</dt>
            <dd class="widget-stat-text">{{patientData.assignmentReason | dashify}}</dd>
            <dt>Current Step</dt>
            <dd>{{patientData.currentStep | dashify}}</dd>
            <dt>Treatment Arm</dt>
            <dd>{{patientData.treatmentArm | dashify}}</dd>
            <dt>Registration Date</dt>
            <dd>{{patientData.registrationDate | gmt | dashify}}</dd>
            <dt>Last Rejoin Scan Date</dt>
            <dd>{{patientData.lastRejoinScanDate | gmt | dashify}}</dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-white panel-accent-sides-purple overflow-hidden panel-height">
        <div class="panel-heading">
          <dl class="dl-horizontal">
            <dt>Concordance</dt>
            <dd>{{patientData.concordance | dashify}}</dd>
            <dt>Disease(s)</dt>
            <dd>{{patientData.Diseases | dashify}}</dd>
            <dt>Short Name</dt>
            <dd>{{patientData.shortName | dashify}}</dd>
            <dt>CTEP Category</dt>
            <dd>{{patientData.ctepCategory | dashify}}</dd>
            <dt>CTEP Sub Category</dt>
            <dd>{{patientData.ctepSubCategory | dashify}}</dd>
            <dt>CTEP Term</dt>
            <dd>{{patientData.ctepTerm | dashify}}</dd>
            <dt>MedDRA Code</dt>
            <dd>{{patientData.medDRACode | dashify}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <ul class="nav nav-tabs nav-tabs-purple">
          <li class="active"><a href="#tab-summary" data-toggle="tab">Summary</a></li>
          <li class=""><a href="#tab-biopsy-t-16-000762" data-toggle="tab"><i class="fa fa-bell-o" aria-hidden="true"></i> 2. Biopsy T-16-000762, 08-12-2016</a></li>
          <li class=""><a href="#tab-biopsy-t-16-000789" data-toggle="tab">1. Biopsy T-16-000789, 07-06-2016</a></li>
          <li class=""><a href="#tab-documents" data-toggle="tab">Documents</a></li>
        </ul>
        <div class="tab-content m-b-0">
          <div class="tab-pane active fade in" id="tab-summary">
            <div class="row">
              <div class="col-md-3" *ngIf="summaryData.pendingVariant">
                <div class="widget widget-stat bg-danger">
                  <a class="link-none" href [routerLink]="['/patients/variant_report']">
                    <div class="widget-stat-icon"><i class="fa fa-file"></i></div>
                    <div class="widget-stat-info">
                      <div class="widget-stat-title">Pending Variant Report</div>
                      <div class="widget-stat-number">{{summaryData.pendingVariantDays}} days</div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-3" *ngIf="summaryData.pendingAssignment">
                <div class="widget widget-stat bg-warning">
                  <a class="link-none" href [routerLink]="['/patients/variant_report']">
                    <div class="widget-stat-icon"><i class="fa fa-file"></i></div>
                    <div class="widget-stat-info">
                      <div class="widget-stat-title">Pending Assignment Report</div>
                      <div class="widget-stat-number">{{summaryData.pendingAssignmentDays}} days</div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="widget match-timeline panel-accent-bottom-purple">
                  <div class="widget-header bg-purple-light">
                    <h4 class="text-white m-b-10">Patient Timeline</h4>
                  </div>
                  <div class="widget-body">
                    <ul class="match-timeline-list">
                      <li *ngFor="let item of summaryData.activity" class="timeline-item">
                        <div class="timeline-info">
                          <div class="timeline-image">
                            <i [faIcon]="item.icon" class="fa fa-2x"></i>
                          </div>
                          <h4>{{item.status}}</h4>
                          <p>
                            {{item.details}}
                            <a class="link-none" [routerLink]="['/patients/variant_report']" href *ngIf="item.variantReport">Variant Report</a>                            {{item.variantReportDetails}}
                            <a class="link-none" [routerLink]="['/patients/variant_report']" href *ngIf="item.assignmentReport">Assignment Report</a>                            {{item.assignmentReportDetails}}
                          </p>
                          <span class="timeline-time">{{item.time}}</span>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-biopsy-t-16-000762">
            <div class="panel-heading">
              <h4 class="panel-title f-s-18">Biopsy: {{biopsyData.id}}
              </h4>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="panel panel-white overflow-hidden biopsy-panel-height panel-accent-bottom-purple">
                  <div class="panel-heading">
                    <dl class="dl-horizontal">
                      <dt>Specimen Collection Date</dt>
                      <dd>{{biopsyData.specimenCollectionDate | gmt | dashify}}</dd>
                      <dt>Specimen Received Date</dt>
                      <dd>{{biopsyData.specimenReceivedDate | gmt | dashify}}</dd>
                      <dt>Specimen Failure Date</dt>
                      <dd>{{biopsyData.specimenFailureDate | gmt | dashify}}</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-white overflow-hidden biopsy-panel-height panel-accent-bottom-purple">
                  <div class="panel-heading">
                    <dl class="dl-horizontal">
                      <dt>Pathology Status</dt>
                      <dd>{{biopsyData.pathologyStatus | dashify}}</dd>
                      <dt>Pathology Received Date</dt>
                      <dd>{{biopsyData.pathologyReceivedDate | gmt | dashify}}</dd>
                      <dt>Concordance</dt>
                      <dd>{{biopsyData.concordance | dashify}}</dd>
                      <dt>Comment</dt>
                      <dd>{{biopsyData.comment | dashify}}</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-accent-bottom-purple">
                  <div class="panel-heading">
                    <h4 class="panel-title f-s-18">Assay History</h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-td-valign-middle">
                      <thead>
                        <tr>
                          <th>IHC</th>
                          <th>Assay Order Date</th>
                          <th>Assay Result Date</th>
                          <th>Result</th>
                          <th>Comment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of biopsyData.assayHistory">
                          <td>{{item.ihc | dashify}}</td>
                          <td>{{item.orderDate | dashify}}</td>
                          <td>{{item.resultDate | dashify}}</td>
                          <td>{{item.result | dashify}}</td>
                          <td>{{item.comment | dashify}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-accent-bottom-purple">
                  <div class="panel-heading">
                    <h4 class="panel-title f-s-18">Nucleic Acid Sendout
                      <a href="#file-upload" class="btn btn-purple-light pull-right" style="margin-top: -6px;" data-toggle="modal"><i class="fa fa-upload"></i> Upload File</a>
                    </h4>
                  </div>
                  <div class="table-responsive">
                    <table class="table table-td-valign-middle">
                      <thead>
                        <tr>
                          <th>Molecular Sequence Number</th>
                          <th>Destination Site</th>
                          <th>Tracking Number</th>
                          <th>DNA Conc</th>
                          <th>DNA Vol</th>
                          <th>Reported Date</th>
                          <th>Comment</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of biopsyData.nucleicAcidSendout">
                          <td><i class="fa fa-share-alt"></i> {{item.molecularSequenceNumber | dashify}}</td>
                          <td>{{item.destinationSite | dashify}}</td>
                          <td>
                            <span *ngIf="item.trackingNumber!==null && item.trackingNumber!=='Local'">
                                  <a href="https://www.fedex.com/apps/fedextrack/?tracknumbers={{item.trackingNumber}}" class="link-none" target="_blank"><i class="fa fa-truck"></i> {{item.trackingNumber | dashify}}</a>
                                </span>
                            <span *ngIf="item.trackingNumber===null || item.trackingNumber==='Local'">{{item.trackingNumber | dashify}}</span>
                          </td>
                          <td>{{item.dnaConc | dashify}}</td>
                          <td>{{item.dnaVol | dashify}}</td>
                          <td>{{item.reportedDate | dashify}}</td>
                          <td>{{item.comment | dashify}}</td>
                        </tr>
                        <tr>
                          <td colspan="7" class="bg-body">
                            <div class="panel panel-with-tabs panel-accent-sides-purple panel-details-row">
                              <div class="panel-heading">
                                <ul id="panel-tab" class="nav nav-tabs pull-right nav-tabs-purple">
                                  <li class="active"><a href="#panel-tab-info" data-toggle="tab" aria-expanded="true"><i class="fa fa-align-left"></i> <span class="hidden-xs">Info</span></a></li>
                                  <li class=""><a href="#panel-tab-files" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-archive-o"></i> <span class="hidden-xs">Files</span></a></li>
                                </ul>
                                <h4 class="panel-title f-s-18">Analysis ID: {{biopsyData.analysisId}}</h4>
                              </div>
                              <div id="panel-tab-content" class="tab-content">
                                <div class="tab-pane fade active in" id="panel-tab-info">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <dl class="dl-horizontal">
                                        <dt>Variant Report</dt>
                                        <dd><a class="link-none" href [routerLink]="['/patients/variant_report']"><i class="fa fa-file-text-o"></i></a></dd>
                                        <dt>Status</dt>
                                        <dd>{{biopsyData.variantStatus}}</dd>
                                        <dt>File Received Date</dt>
                                        <dd>{{biopsyData.variantFileReceivedDate}}</dd>
                                        <dt>Rejected/Confirmed Date</dt>
                                        <dd>{{biopsyData.variantRejectedOrConfirmedDate}}</dd>
                                      </dl>
                                    </div>
                                    <div class="col-md-6">
                                      <dl class="dl-horizontal">
                                        <dt>Assignment Report</dt>
                                        <dd><a href [routerLink]="['/patients/variant_report']"><i class="fa fa-file-text-o"></i></a></dd>
                                        <dt>Status</dt>
                                        <dd>{{biopsyData.assignmentStatus}}</dd>
                                        <dt>Generation Date</dt>
                                        <dd>{{biopsyData.assignmentGenerationDate}}</dd>
                                        <dt>Received from ECOG Date</dt>
                                        <dd>{{biopsyData.assignmentReceivedDate}}</dd>
                                        <dt>Assignment Logic</dt>
                                        <dd>{{biopsyData.assignmentLogic}}</dd>
                                      </dl>
                                    </div>
                                  </div>
                                </div>
                                <div class="tab-pane fade" id="panel-tab-files">
                                  <p>
                                    <button type="button" class="btn btn-purple-light">DNA BAM</button>
                                    <button type="button" class="btn btn-purple-light">DNA BAI</button>
                                    <button type="button" class="btn btn-purple-light">RNA BAM</button>
                                    <button type="button" class="btn btn-purple-light">RNA BAI</button>
                                    <button type="button" class="btn btn-purple-light">VCF</button>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-biopsy-t-16-000789">
            <p class="text-muted">
              Another Biopsy goes here
            </p>
          </div>
          <div class="tab-pane fade" id="tab-documents">
            <div class="panel-heading">
              <h4 class="panel-title f-s-18">Patient Documents</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-td-valign-middle">
                <thead>
                  <tr>
                    <th>Document</th>
                    <th>Comment</th>
                    <th>Uploaded Date</th>
                    <th>User</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="4" class="text-muted">No Documents Available</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <dropzone [config]="config" [message]="'Click or drag files here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
            <!--<div [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="file-upload" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
        <h4 class="modal-title">Drag And Drop Files Here</h4>
      </div>
      <div class="modal-body">
        <dropzone [config]="config" [message]="'Click or drag files here to upload'" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></dropzone>
        <!--<div [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"></div>-->
      </div>
      <div class="modal-footer">
        <a href="javascript:;" class="btn width-100 btn-purple-light" data-dismiss="modal" aria-hidden="true">Done</a>
      </div>
    </div>
  </div>
</div>
