<div id="content" class="content" *ngIf="dataAvailable">
  <ul class="breadcrumb pull-right">
    <li><a href [routerLink]="['/dashboard']" class="link-none">Dashboard</a></li>
    <li><a href [routerLink]="['/clia_yale']" class="link-none">CLIA Lab: Yale</a></li>
    <li>Positive Control Variant Report</li>
  </ul>
  <h1 class="page-header">Positive Control Variant Report</h1>
  <div class="row" matchHeight="pc">
    <div class="col-md-6">
      <div class="panel panel-white panel-accent-sides-orangeshade overflow-hidden pc">
        <div class="panel-heading">
          <ul id="panel-tab" class="nav nav-tabs pull-right nav-tabs-orangeshade">
            <li class="active"><a href="#panel-tab-info" data-toggle="tab" aria-expanded="true"><i class="fa fa-align-left"></i><span class="hidden-xs"> Info</span></a></li>
            <li class=""><a href="#panel-tab-files" data-toggle="tab" aria-expanded="false"><i class="fa fa-file-archive-o"></i><span class="hidden-xs"> Files</span></a></li>
          </ul>
          <h4>Positive Control Variant Report</h4>
        </div>
        <div id="panel-tab-content" class="tab-content m-b-0">
          <div class="tab-pane fade active in" id="panel-tab-info">
            <dl class="dl-horizontal">
              <dt>Molecular Sequence Number</dt>
              <dd>{{variantReportPC.molecularSequenceNumber | dashify}}</dd>
              <dt>Analysis Id</dt>
              <dd>{{variantReportPC.analysisId | dashify}}</dd>
              <dt>Total Variants</dt>
              <dd>{{variantReportPC.totalVariants | dashify}}</dd>
              <dt>MAPD</dt>
              <dd>{{variantReportPC.mapd | dashify}}</dd>
              <dt>Cellularity</dt>
              <dd>{{variantReportPC.cellularity | dashify}}</dd>
              <dt>Positive Control Version</dt>
              <dd>{{variantReportPC.positiveControlVersion | dashify}}</dd>
              <dt>Positive Control Loaded Date</dt>
              <dd>{{variantReportPC.positiveControlLoadedDate | gmt | dashify}}</dd>
              <dt>File Received Date</dt>
              <dd>{{variantReportPC.fileReceivedDate | gmt | dashify}}</dd>
              <dt>Torrent Variant Caller Version</dt>
              <dd>{{variantReportPC.torrentVariantCallerVersion | dashify}}</dd>
              <dt>Status</dt>
              <dd [colorCodeClia]="variantReportPC.status">{{variantReportPC.status | dashify}}</dd>
            </dl>
            <div class="panel-heading">
              <a class="btn btn-orangeshade-light link-none" role="button" href [routerLink]="['/clia_variant_reports_qc_ntc']"><i class="fa fa-file-text-o"></i> QC Report</a>
            </div>
          </div>
          <div class="tab-pane fade" id="panel-tab-files">
            <p class="m-t-30">
              <button type="button" class="btn btn-orangeshade-light"><i class="fa fa-download"></i> DNA BAM</button>
              <button type="button" class="btn btn-orangeshade-light"><i class="fa fa-download"></i> RNA BAM</button>
              <button type="button" class="btn btn-orangeshade-light"><i class="fa fa-download"></i> VCF</button>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-white panel-accent-sides-orangeshade overflow-hidden pc">
        <div class="panel-heading">
          <dl class="dl-horizontal">
            <h4>Positive Controls Legend</h4>
            <table class="table table-condensed white-header">
              <thead>
                <tr>
                  <th>Variant Type</th>
                  <th>Matching Criteria</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of lengendPCs">
                  <td>{{item.variantType | dashify}}</td>
                  <td>{{item.matchingCriteria | dashify}}</td>
                </tr>
              </tbody>
            </table>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-white panel-accent-sides-orangeshade overflow-hidden">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
          <h4>Positive Controls</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th class="text-center">Present</th>
                <th>ID</th>
                <th>Chromosome</th>
                <th>Position</th>
                <th>Gene</th>
                <th>Variant Type</th>
                <th>Reference</th>
                <th>Alternative</th>
                <th>HGVS</th>
                <th>Protein</th>
                <th>Function</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of tablePCsData">
                <td class="text-center">
                  <span *ngIf="item.hasMatchingVariant===true"><i class="fa fa-check-circle text-success-light"></i></span>
                  <span *ngIf="item.hasMatchingVariant===false"><i class="fa fa-times-circle text-danger-light"></i></span>
                </td>
                <td>
                  <external-link [externalLink]="'cosmicId'" [linkId]="item.identifier"></external-link>
                </td>
                <td>{{item.chromosome | dashify}}</td>
                <td>{{item.position | dashify}}</td>
                <td><a href="http://cancer.sanger.ac.uk/cosmic/gene/analysis?ln={{item.geneName}}" class="link-none" target="_blank">{{item.geneName | dashify}}</a></td>
                <td>{{item.variantType | dashify}}</td>
                <td>{{item.reference | dashify}}</td>
                <td>{{item.alternative | dashify}}</td>
                <td>{{item.dna | dashify}}</td>
                <td>{{item.protein | dashify}}</td>
                <td>{{item.function | dashify}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>False Positive Variants</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Present</th>
                <th>ID</th>
                <th>Chromosome</th>
                <th>Position</th>
                <th>Gene</th>
                <th>Variant Type</th>
                <th>Reference</th>
                <th>Alternative</th>
                <th>HGVS</th>
                <th>Protein</th>
                <th>Function</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="10" class="text-muted">No false positive variants were detected.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
