<div id="content" class="content">
  <ul class="breadcrumb pull-right">
    <li><a href [routerLink]="['/dashboard']" class="link-none">Dashboard</a></li>
    <li><a href [routerLink]="['/clia_yale']" class="link-none">CLIA Lab: Yale</a></li>
    <li>Positive Control Variant Report</li>
  </ul>
  <h1 class="page-header">Positive Control Variant Report</h1>
  <div class="row" matchHeight="pc">
    <div class="col-md-6">
      <div class="panel panel-white panel-accent-sides-orangeshade overflow-hidden pc">
        <div class="panel-heading">
          <dl class="dl-horizontal">
            <dt>Molecular Sequence Number</dt>
            <dd>NtcControl_MoCha_8</dd>
            <dt>Analysis Id</dt>
            <dd>Curl-3</dd>
            <dt>Total Variants</dt>
            <dd>8</dd>
            <dt>MAPD</dt>
            <dd>0.317</dd>
            <dt>Cellularity</dt>
            <dd>1.000000</dd>
            <dt>Positive Control Version</dt>
            <dd>2</dd>
            <dt>Positive Control Loaded Date</dt>
            <dd>May 31, 2016 3:02 PM GMT</dd>
            <dt>File Received Date</dt>
            <dd>October 21, 2015 1:51 PM GMT</dd>
            <dt>Torrent Variant Caller Version</dt>
            <dd>tvc 4.4-8</dd>
            <dt>Status</dt>
            <dd [colorcodeClia]="'PASSED'">PASSED</dd>
          </dl>
        </div>
        <div class="panel-heading p-t-0">
          <button type="button" class="btn btn-orangeshade-light">FILES</button>
          <button type="button" class="btn btn-orangeshade-light">QC REPORT</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-white panel-accent-sides-orangeshade overflow-hidden pc">
        <div class="panel-heading">
          <dl class="dl-horizontal">
            <h4>Positive Controls Legend</h4>
            <table class="table table-condensed white-header">
              <thead>
                <tr>
                  <th>Variant Type</th>
                  <th>Matching Criteria</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Indel</td>
                  <td>Chromosone, Position, Reference and Alternative.</td>
                </tr>
                <tr>
                  <td>SNV</td>
                  <td>Chromosone, Position, Reference and Alternative.</td>
                </tr>
                <tr>
                  <td>CNV</td>
                  <td>Gene</td>
                </tr>
                <tr>
                  <td>Fusion</td>
                  <td>HGVS</td>
                </tr>
              </tbody>
            </table>
          </dl>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-white panel-accent-sides-orangeshade overflow-hidden">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
          <h4>Positive Controls</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Present</th>
                <th>ID</th>
                <th>Chromosome</th>
                <th>Position</th>
                <th>Gene</th>
                <th>Variant Type</th>
                <th>Reference</th>
                <th>Alternative</th>
                <th>HGVS</th>
                <th>Protein</th>
                <th>Function</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Present</td>
                <td>ID</td>
                <td>Chromosome</td>
                <td>Position</td>
                <td>Gene</td>
                <td>Variant Type</td>
                <td>Reference</td>
                <td>Alternative</td>
                <td>HGVS</td>
                <td>Protein</td>
                <td>Function</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>False Positive Variants</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>Present</th>
                <th>ID</th>
                <th>Chromosome</th>
                <th>Position</th>
                <th>Gene</th>
                <th>Variant Type</th>
                <th>Reference</th>
                <th>Alternative</th>
                <th>HGVS</th>
                <th>Protein</th>
                <th>Function</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="10" class="text-muted">No false positive variants were detected.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
