<table class="table {{tableCssClasses}}" id="assay_table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Gene</th>
      <th>Result</th>
      <th *ngIf="isHistory">Order Date</th>
      <th *ngIf="isHistory">Result Date</th>
      <th *ngIf="isHistory">Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>IHC</td>
      <td>
        <cosmic-link [linkType]="'cosmicGene'" [linkId]="item.gene"></cosmic-link>
      </td>
      <td [colorCodeAssay]="item.result">{{item.result | dashify}}</td>
      <td *ngIf="isHistory">{{item.orderedDate | gmt}}</td>
      <td *ngIf="isHistory">{{item.reportedDate | gmt}}</td>
      <td *ngIf="isHistory">{{item.comment | dashify}}</td>
    </tr>
    <tr *ngIf="!items || !items.length">
      <td colspan="isHistory ? 6 : 3" class="text-muted">No Assay data</td>
    </tr>
  </tbody>
</table>
