.logo {
  width: 320px
}

.header-height {
  height: 75px;
}

.top-menu-position {
  top: 75px;
}

.header-position {
  padding-right: 10px;
}

.top-menu .nav>li.active>a {
  background-color: #374342;
}

// fix_me: .top-menu
top-menu .nav>li>a:hover {
  background-color: #5f7471 !important;
}

.top-menu>div {
  background-color: #445350;
}
