<!-- begin #header -->
<div *ngIf="auth.authenticated()" id="header" class="header navbar navbar-default navbar-fixed-top">
  <!-- begin container-fluid -->
  <div class="container-fluid header-height">
    <!-- begin mobile sidebar expand / collapse button -->
    <div class="navbar-header" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <!--<a *ngIf="!auth.authenticated()" class="navbar-brand f-s-15"><img src="assets/svg/nci-logo-full.svg" class="logo" alt="" /><span class="pull-right header-position">Molecular Analysis for Therapy Choice</span></a>-->
      <a href="javascript:void(0)" [routerLink]="['/dashboard']" class="navbar-brand f-s-15"><img src="assets/svg/nci-logo-full.svg" class="logo" alt="" /><span class="pull-right header-position">Molecular Analysis for Therapy Choice</span></a>
      <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- end mobile sidebar expand / collapse button -->
    <!-- begin navbar-right -->
    <ul class="nav navbar-nav navbar-right">
      <!--<li>
        <form class="navbar-form form-input-flat">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search..." (keypress)="stopReload($event.keyCode);" />
            <button type="button" class="btn btn-search"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </li>-->
      <li>
        <a style="cursor: default;">Welcome, {{userName}}</a>
      </li>
      <li>
        <a href (click)="auth.logout()">Log Out&nbsp;&nbsp;<i class="fa fa-sign-out"></i></a>
      </li>
    </ul>
    <!-- end navbar-right -->
  </div>
  <!-- end container-fluid -->
</div>
<!-- end #header -->

<!-- begin #top-menu -->
<div *ngIf="auth.authenticated()" id="top-menu" class="top-menu top-menu-position">
  <div class="container-fluid">
    <!-- begin top-menu nav -->
    <ul class="nav">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-dashboard">
        <a href="javascript:void(0)" [routerLink]="['/dashboard']">
          <i class="fa fa-home"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-patient">
        <a href="javascript:void(0)" [routerLink]="['/patients']">
          <i class="fa fa-users"></i>
          <span>Patients</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-treatments">
        <a href="javascript:void(0)" [routerLink]="['/treatments']">
          <i class="fa fa-medkit"></i>
          <span>Treatment Arms</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-biopsy-tracking">
        <a href="javascript:void(0)" [routerLink]="['/tracking']">
          <i class="fa fa-truck"></i>
          <span>Biopsy Tracking</span>
        </a>
      </li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-clia-lab has-sub">
        <a href="javascript:void(0)">
          <i class="fa fa-flask"></i>
          <span>CLIA Labs&nbsp;&nbsp;<b class="caret"></b></span>
        </a>
        <ul class="sub-menu">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="javascript:void(0)" [routerLink]="['/clia_mocha']">MoCha</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="javascript:void(0)" [routerLink]="['/clia_yale']">Yale</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="javascript:void(0)" [routerLink]="['/clia_mgh']">MGH</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="javascript:void(0)" [routerLink]="['/clia_mda']">MD Anderson</a></li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a href="javascript:void(0)" [routerLink]="['/clia_dartmouth']">Dartmouth</a></li>
        </ul>
      </li>
    </ul>
    <!-- end top-menu nav -->
  </div>
</div>
<!-- end #top-menu -->

<!-- begin #footer -->
<div *ngIf="auth.authenticated()" id="footer" class="footer text-center footer-format">
  <span>
    <strong><a href="https://www.cancer.gov/" target="_blank">National Cancer Institute</a></strong> at <a href="https://www.nih.gov/"
    target="_blank">National Institutes of Health</a>
  </span>
  <span class="contact">Contact us: <a class="link-email" href="mailto:matchbox-support@nih.gov">matchbox-support@nih.gov</a>
    <a href="javascript:void(0)" class="btn-scroll-to-top pull-right" data-click="scroll-top" (click)="backToTop();"><i class="fa fa-arrow-up"></i><span class="hidden-xs"> Back to Top</span></a>
  </span>
  <span *ngIf="buildInfo" class="build-info text-muted">MATCH UI: {{buildInfo.buildNumber}}, {{buildInfo.buildTime}}</span>
</div>
<!-- end #footer -->