<div id="content" class="content">
  <ul class="breadcrumb pull-right">
    <li><a href [routerLink]="['/dashboard']" class="link-none">Dashboard</a></li>
    <li><a href [routerLink]="['/clia_yale']" class="link-none">CLIA Lab: Yale</a></li>
    <li>No Template Control Variant Report</li>
  </ul>
  <h1 class="page-header">No Template Control Variant Report</h1>
  <div class="row" matchHeight="ntc">
    <div class="col-md-6">
      <div class="panel panel-white panel-accent-sides-orangeshade overflow-hidden ntc">
        <div class="panel-heading">
          <dl class="dl-horizontal">
            <dt>Molecular Sequence Number</dt>
            <dd>NtcControl_MoCha_8</dd>
            <dt>Analysis Id</dt>
            <dd>Curl-3</dd>
            <dt>Total Variants</dt>
            <dd>8</dd>
            <dt>MAPD</dt>
            <dd>0.317</dd>
            <dt>Cellularity</dt>
            <dd>1.000000</dd>
            <dt>File Received Date</dt>
            <dd>October 21, 2015 1:51 PM GMT</dd>
            <dt>Torrent Variant Caller Version</dt>
            <dd>tvc 4.4-8</dd>
            <dt>Status</dt>
            <dd [colorCodeClia]="'PASSED'">PASSED</dd>
            <dt>Comment</dt>
            <dd>Accepted!</dd>
          </dl>
        </div>
        <div class="panel-heading p-t-0">
          <button type="button" class="btn btn-orangeshade-light">FILES</button>
          <button type="button" class="btn btn-orangeshade-light">QC REPORT</button>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-white panel-accent-sides-orangeshade overflow-hidden">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-12">
          <h4>Single Nucleotide Variants</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Chrom</th>
                <th>Position</th>
                <th>Reference</th>
                <th>Alternative</th>
                <th>Allele Freq</th>
                <th>Func Gene</th>
                <th>Oncomine Variant Class</th>
                <th>Function</th>
                <th>HGVS</th>
                <th>Read Depth</th>
                <th>Transcript</th>
                <th>Protein</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>COSM14060</td>
                <td>chr17</td>
                <td>37880220</td>
                <td>T</td>
                <td>C</td>
                <td>0.3195</td>
                <td>ERBB2</td>
                <td>Hotspot</td>
                <td>missense</td>
                <td>c.2264T&gt&C</td>
                <td>942</td>
                <td>NM_004448.3</td>
                <td>p.Leu755Ser</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Indels</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Chrom</th>
                <th>Position</th>
                <th>Reference</th>
                <th>Alternative</th>
                <th>Allele Freq</th>
                <th>Func Gene</th>
                <th>Oncomine Variant Class</th>
                <th>Function</th>
                <th>HGVS</th>
                <th>Read Depth</th>
                <th>Transcript</th>
                <th>Protein</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>-</td>
                <td>chr10</td>
                <td>8115840</td>
                <td>CT</td>
                <td>-</td>
                <td>0.3720</td>
                <td>GATA3</td>
                <td>Deleterious</td>
                <td>frameshiftDeletion</td>
                <td>c.1189_1190delCT</td>
                <td>1946</td>
                <td>NM_001002295.1</td>
                <td>p.Ser398fs</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Copy Number Variants</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Chrom</th>
                <th>Position</th>
                <th>Raw CN</th>
                <th>CN</th>
                <th>CI 5%</th>
                <th>CI 95%</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="7" class="text-muted">There are no copy number variants.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h4>Gene Fusions</h4>
          <table class="table table-condensed">
            <thead>
              <tr>
                <th>ID</th>
                <th>Driver Gene</th>
                <th>Driver Count</th>
                <th>Partner Gene</th>
                <th>Partner Count</th>
                <th>Annotation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="6" class="text-muted">There are no gene fusions.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
