@import "./../../../scss/colors.scss";

.outside-data-text {
  background-color: $bg-outside-color;
  color: $text-outside-color;
  font-size: 100%;
  font-weight: normal;
}

.match-data-text {
  background-color: $bg-match-color;
  color: $text-match-color;
  font-size: 100%;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.subsection-heading {
  font-size: 16px;
}

.panel .panel-heading .label, .panel .panel-heading .badge {
  padding-bottom: 3px;
}

.treatment-arm-title-label{
  font-weight: bold;
}
