ƒ<div id="content" class="content">
  <ul class="breadcrumb pull-right">
    <li><a href [routerLink]="['/dashboard']" class="link-none">Dashboard</a></li>
    <li><a href [routerLink]="['/patients']" class="link-none">Patients</a></li>
    <li><a href [routerLink]="['/patients', patientSequenceNumber]" class="link-none">Patient {{patientSequenceNumber}}</a></li>
    <li class="active">Variant Report</li>
  </ul>

  <h1 class="page-header">Variant and Assignment Report</h1>

  <div class="panel">
    <tabset class="nav-tabs-purple">

      <!-- #region Treatment Report Tab -->
      <tab heading="Treatment Report" [active]="showOutsideAssay">
        <div *ngIf="outsideData && outsideData.analysisId" class="row" matchHeight="panel-height-top">
          <div class="col-md-6">
            <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-top">
              <div class="panel-heading" id="trVariantReport">
                <div class="row">
                  <div class="col-md-8">
                    <h4 class="f-w-700">Variant Report</h4>
                  </div>
                  <div class="col-md-4 text-right">
                    <a href="javascript:;" class="btn btn-sm btn-link"><i class="fa fa-file-excel-o"></i> Excel</a>
                  </div>
                </div>

                <dl class="dl-horizontal">
                  <dt>Molecular Sequence Number</dt>
                  <dd class="ut-outside-msn">{{outsideData.variantReport.molecularSequenceNumber | dashify}}</dd>
                  <dt>Biopsy Sequence Number</dt>
                  <dd>{{outsideData.biopsySequenceNumber | dashify}}</dd>
                  <dt>Analysis ID</dt>
                  <dd>{{outsideData.analysisId | dashify}}</dd>
                  <dt>Patient</dt>
                  <dd><a href [routerLink]="['/patients', patientSequenceNumber]" class="link-none">{{patientSequenceNumber | dashify}}</a>,
                    <span [colorCodePatients]="currentPatientStatus">{{currentPatientStatus | dashify}}</span>, Step {{currentStepNumber
                    | dashify}}</dd>
                  <dt>Disease Concordance</dt>
                  <dd><span [colorCodeConcordance]="concordance">{{concordance | dashify}}</span></dd>
                  <dt>Status</dt>
                  <dd>
                    <span [colorCodeVariantReport]="outsideData.variantReport.variantReportStatus">
                      {{outsideData.variantReport.variantReportStatus | dashify}}</span>
                    <span *ngIf="outsideData.variantReport.variantReportStatus==='CONFIRMED' || outsideData.variantReport.variantReportStatus==='REJECTED'"> on {{outsideData.variantReport.variantReportRejectedOrConfirmedDate | gmt}} by {{outsideData.variantReport.commenter || 'unknown user'}}</span>
                  </dd>
                  <dt>File Received Date</dt>
                  <dd>{{outsideData.variantReport.createdDate | gmt}}</dd>
                </dl>
                <div class="m-b-5">
                  <button type="button" class="btn btn-xs btn-purple-light p-3 p-l-10 p-r-10" [disabled]="!outsideData.variantReport.dnaBamFilePath"
                    (click)="download(outsideData.variantReport.dnaBamFilePath)"><i class="fa fa-download"></i> DNA BAM</button>
                  <button type="button" class="btn btn-xs btn-purple-light p-3 p-l-10 p-r-10" [disabled]="!outsideData.variantReport.dnaBaiFilePath"
                    (click)="download(outsideData.variantReport.dnaBaiFilePath)"><i class="fa fa-download"></i> DNA BAI</button>
                  <button type="button" class="btn btn-xs btn-purple-light p-3 p-l-10 p-r-10" [disabled]="!outsideData.variantReport.rnaBamFilePath"
                    (click)="download(outsideData.variantReport.rnaBamFilePath)"><i class="fa fa-download"></i> RNA BAM</button>
                  <button type="button" class="btn btn-xs btn-purple-light p-3 p-l-10 p-r-10" [disabled]="!outsideData.variantReport.rnaBaiFilePath"
                    (click)="download(outsideData.variantReport.rnaBaiFilePath)"><i class="fa fa-download"></i> RNA BAI</button>
                  <button type="button" class="btn btn-xs btn-purple-light p-3 p-l-10 p-r-10" [disabled]="!outsideData.variantReport.vcfFilePath"
                    (click)="download(outsideData.variantReport.vcfFilePath)"><i class="fa fa-download"></i> VCF</button>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="outsideData && outsideData.analysisId" class="col-md-6" id="trAssignmentReport">
            <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-top">
              <div class="panel-heading">
                <h4 class="f-w-700" *ngIf="!hasAssignment(outsideData)">Latest Assignment</h4>
                <p class="text-muted" *ngIf="!hasAssignment(outsideData)">No Assignment data yet</p>
                <div *ngIf="hasAssignment(outsideData)">
                  <h4 class="f-w-700">Latest Assignment</h4>
                  <dl class="dl-horizontal widest-dt">
                    <dt>Status</dt>
                    <dd>
                      <span [colorCodeAssignment]="outsideData.assignmentReport.derivedStatus">{{outsideData.assignmentReport.derivedStatus | dashify}}</span>
                      <span *ngIf="outsideData.assignmentReport.derivedStatus==='CONFIRMED'"> on {{outsideData.assignmentReport.dateConfirmed | gmt}} by {{(outsideData.assignmentReport.commenter || 'Steering
                        Committee') | dashify}}</span>
                    </dd>
                    <dt>Generation Date</dt>
                    <dd>{{outsideData.assignmentReport.dateAssigned | gmt}}</dd>
                    <dt>Assignment Sent to ECOG Date</dt>
                    <dd>{{outsideData.assignmentReport.dateSentToECOG | gmt}}</dd>
                    <dt>Assignment Received by ECOG Date</dt>
                    <dd>{{outsideData.assignmentReport.dateReceivedByECOG | gmt}}</dd>
                  </dl>
          
                  <div *ngIf="outsideData.assignmentReport.hasSelectedTreatmentArm">
                    <h5>Selected Treatment Arm</h5>
                    <h5>
                      <treatment-arm-link *ngIf="outsideData.assignmentReport" [treatmentArmId]="outsideData.assignmentReport.treatmentArm.treatmentArmId"
                        [version]="outsideData.assignmentReport.treatmentArm.version" [removePrefix]="true"></treatment-arm-link>
                      <span *ngIf="!outsideData.assignmentReport">-</span>
                    </h5>
                  </div>
          
                  <div *ngIf="outsideData.assignmentReport.hasSelectedTreatmentArm" class="panel panel-success overflow-hidden">
                    <div class="panel-heading">
                      <p>
                        {{outsideData.assignmentReport.patientAssignmentStatusMessage | dashify}}
                        <a (click)="scrollTo('outside-assignment-details')" class="text-white text-underlined white-link">
                          <br>
                          <br>
                          <i class="fa fa-arrow-down" aria-hidden="true"></i> Click for details...</a>
                      </p>
                    </div>
                  </div>
                </div>
    
                <h4 class="f-w-700">Disease</h4>
                <sd-disease [disease]="outsideData.disease"></sd-disease>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="outsideData && outsideData.analysisId" class="row" matchHeight="panel-height-middle">
          <div class="col-md-6">
            <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-middle">
              <div class="panel-heading" id="trMoiSummary">
                <dl class="dl-horizontal">
                  <h4 class="f-w-700">MOI/aMOI Summary</h4>
                  <dt>Total aMOIs</dt>
                  <dd>{{outsideData.moiSummary.totalaMOIs | dashify}}</dd>
                  <dt>Total MOIs</dt>
                  <dd>{{outsideData.moiSummary.totalMOIs | dashify}}</dd>
                  <dt>Total Confirmed aMOIs</dt>
                  <dd>{{outsideData.moiSummary.confirmedaMOIs | dashify}}</dd>
                  <dt>Total Confirmed MOIs</dt>
                  <dd>{{outsideData.moiSummary.confirmedMOIs | dashify}}</dd>
                </dl>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-middle">
              <div class="panel-heading" id="trAssay">
                <h4 class="f-w-700">Assays</h4>
                <table class="table table-condensed white-header">
                  <thead>
                    <tr>
                      <th>IHC</th>
                      <th>Result</th>
                      <th>Order Date</th>
                      <th>Result Date</th>
                      <th>Comment</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="outsideData.assignmentReport">
                    <tr *ngFor="let item of outsideData.assayMessages">
                      <td>{{item.biomarker | dashify}}</td>
                      <td>{{item.result | dashify}}</td>
                      <td>{{item.orderedDate | gmt}}</td>
                      <td>{{item.reportedDate | gmt}}</td>
                      <td>{{item.comment | dashify}}</td>
                    </tr>
                    <tr *ngIf="!outsideData.assayMessages || !outsideData.assayMessages.length">
                      <td colspan="3" class="text-muted">No Assay data</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="!outsideData.assignmentReport">
                    <tr>
                      <td colspan="3" class="text-muted">No Assay data</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <p *ngIf="!outsideData || !outsideData.analysisId" class="empty-data-panel">No Treatment Variant Report data</p>

        <sd-variant-report-simple-table-snv-indels *ngIf="outsideData && outsideData.variantReport" [items]="outsideData.variantReport.singleNucleotideVariantAndIndels" [isEditable]="outsideData.isVariantReportEditable && allowVariantReportEdit" (onVariantUpdated)="onVariantUpdated(outsideData, $event)"
          [title]="'Single Nucleotide Variants and Indels'"></sd-variant-report-simple-table-snv-indels>

        <sd-variant-report-simple-table-cnv *ngIf="outsideData && outsideData.variantReport" [items]="outsideData.variantReport.copyNumberVariants" [isEditable]="outsideData.isVariantReportEditable && allowVariantReportEdit" (onVariantUpdated)="onVariantUpdated(outsideData, $event)" [title]="'Copy Number Variants'"></sd-variant-report-simple-table-cnv>

        <sd-variant-report-simple-table-gf *ngIf="outsideData && outsideData.variantReport" [items]="outsideData.variantReport.unifiedGeneFusions" [isEditable]="outsideData.isVariantReportEditable && allowVariantReportEdit" (onVariantUpdated)="onVariantUpdated(outsideData, $event)" [title]="'Gene Fusions'"></sd-variant-report-simple-table-gf>

        <div class="row" *ngIf="outsideData && outsideData.isVariantReportEditable && allowVariantReportEdit">
          <div class="col-md-12 text-center m-t-20">
            <button class="btn btn-danger" (click)="rejectOutsideVariantReport()"><i class="fa fa-times"></i> Reject Report</button>
            <button class="btn btn-lime" (click)="confirmOutsideVariantReport()"><i class="fa fa-check"></i> Confirm Report</button>
          </div>
        </div>

        <div *ngIf="hasAssignment(outsideData)" id="outside-assignment-details">
          <sd-assignment-reason-table [reasons]="outsideData.assignmentReport.reasons"></sd-assignment-reason-table>

          <div class="text-center m-b-20" *ngIf="outsideData.isAssignmentReportEditable && allowAssignmentReportEdit">
            <button class="btn btn-lime" (click)="confirmOutsideAssignmentReport()"><i class="fa fa-check"></i> Confirm Assignment</button>
          </div>
        </div>

        <p *ngIf="!hasAssignment(outsideData)" class="empty-data-panel">No Treatment Report Assignment data</p>
      </tab>
      <!-- #endregion Treatment Report Tab -->

      <!-- #region Confirmation Report Tab -->
      <tab heading="Confirmation Report" [active]="!showOutsideAssay" *ngIf="!showComparison">
        <div *ngIf="matchData && matchData.analysisId" class="row" matchHeight="panel-height-top">
          <div class="col-md-6">
            <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-top">
              <div class="panel-heading" id="crVariantReport">
                <div class="row">
                  <div class="col-md-8">
                    <h4 class="f-w-700">Variant Report</h4>
                  </div>
                  <div class="col-md-4 text-right">
                    <a href="javascript:;" class="btn btn-sm btn-link"><i class="fa fa-file-excel-o"></i> Excel</a>
                  </div>
                </div>

                <dl class="dl-horizontal">
                  <dt>Molecular Sequence Number</dt>
                  <dd class="ut-outside-msn">{{matchData.variantReport.molecularSequenceNumber | dashify}}</dd>
                  <dt>Biopsy Sequence Number</dt>
                  <dd>{{matchData.biopsySequenceNumber | dashify}}</dd>
                  <dt>Analysis ID</dt>
                  <dd>{{matchData.analysisId | dashify}}</dd>
                  <dt>Patient</dt>
                  <dd><a href [routerLink]="['/patients', patientSequenceNumber]" class="link-none">{{patientSequenceNumber | dashify}}</a>,
                    <span [colorCodePatients]="currentPatientStatus">{{currentPatientStatus | dashify}}</span>, Step {{currentStepNumber
                    | dashify}}</dd>
                  <dt>Disease Concordance</dt>
                  <dd><span [colorCodeConcordance]="concordance">{{concordance | dashify}}</span></dd>
                  <dt>Status</dt>
                  <dd>
                    <span [colorCodeVariantReport]="matchData.variantReport.variantReportStatus">
                      {{matchData.variantReport.variantReportStatus | dashify}}</span>
                    <span *ngIf="matchData.variantReport.variantReportStatus==='CONFIRMED' || matchData.variantReport.variantReportStatus==='REJECTED'"> on {{matchData.variantReport.variantReportRejectedOrConfirmedDate | gmt}} by {{matchData.variantReport.commenter || 'unknown user'}}</span>
                  </dd>                    
                  <dt>MAPD</dt>
                  <dd>{{matchData.mapd | dashify}}</dd>
                  <dt>Cellularity</dt>
                  <dd>{{matchData.cellularity | dashify}}</dd>
                  <dt>File Received Date</dt>
                  <dd>{{matchData.variantReport.createdDate | gmt}}</dd>

                  <dt *ngIf="!showPools">Torrent Variant Caller Version</dt>
                  <dd *ngIf="!showPools">{{matchData.tvc_version | dashify}}</dd>
                  <dt *ngIf="showPools">Pool 1</dt>
                  <dd *ngIf="showPools">{{matchData.pool1 | dashify}}</dd>
                  <dt *ngIf="showPools">Pool 2</dt>
                  <dd *ngIf="showPools">{{matchData.pool2 | dashify}}</dd>
                </dl>
                <div class="m-b-5">
                  <button type="button" class="btn btn-xs btn-purple-light p-3 p-l-10 p-r-10" [disabled]="!matchData.variantReport.dnaBamFilePath"
                    (click)="download(matchData.variantReport.dnaBamFilePath)"><i class="fa fa-download"></i> DNA BAM</button>
                  <button type="button" class="btn btn-xs btn-purple-light p-3 p-l-10 p-r-10" [disabled]="!matchData.variantReport.dnaBaiFilePath"
                    (click)="download(matchData.variantReport.dnaBaiFilePath)"><i class="fa fa-download"></i> DNA BAI</button>
                  <button type="button" class="btn btn-xs btn-purple-light p-3 p-l-10 p-r-10" [disabled]="!matchData.variantReport.rnaBamFilePath"
                    (click)="download(matchData.variantReport.rnaBamFilePath)"><i class="fa fa-download"></i> RNA BAM</button>
                  <button type="button" class="btn btn-xs btn-purple-light p-3 p-l-10 p-r-10" [disabled]="!matchData.variantReport.rnaBaiFilePath"
                    (click)="download(matchData.variantReport.rnaBaiFilePath)"><i class="fa fa-download"></i> RNA BAI</button>
                  <button type="button" class="btn btn-xs btn-purple-light p-3 p-l-10 p-r-10" [disabled]="!matchData.variantReport.vcfFilePath"
                    (click)="download(matchData.variantReport.vcfFilePath)"><i class="fa fa-download"></i> VCF</button>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="matchData && matchData.analysisId" class="col-md-6" id="crAssignmentReport">
            <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-top">
              <div class="panel-heading">
                <h4 class="f-w-700" *ngIf="!hasAssignment(matchData)">Latest Assignment</h4>
                <p class="text-muted" *ngIf="!hasAssignment(matchData)">No Assignment data yet</p>
                <div *ngIf="hasAssignment(matchData)" >
                  <h4 class="f-w-700">Latest Assignment</h4>
                  <dl class="dl-horizontal widest-dt">
                    <dt>Status</dt>
                    <dd>
                      <span [colorCodeAssignment]="matchData.assignmentReport.derivedStatus">{{matchData.assignmentReport.derivedStatus | dashify}}</span>
                      <span *ngIf="matchData.assignmentReport.derivedStatus==='CONFIRMED'"> on {{matchData.assignmentReport.dateConfirmed | gmt}} by {{(matchData.assignmentReport.commenter || 'Steering Committee') | dashify}}</span>
                    </dd>
                    <dt>Generation Date</dt>
                    <dd>{{matchData.assignmentReport.dateAssigned | gmt}}</dd>
                    <dt>Assignment Sent to ECOG Date</dt>
                    <dd>{{matchData.assignmentReport.dateSentToECOG | gmt}}</dd>
                    <dt>Assignment Received by ECOG Date</dt>
                    <dd>{{matchData.assignmentReport.dateReceivedByECOG | gmt}}</dd>
                  </dl>
                  <div *ngIf="matchData.assignmentReport.hasSelectedTreatmentArm">
                    <h5>Selected Treatment Arm</h5>
                    <h5>
                      <treatment-arm-link *ngIf="matchData.assignmentReport" [treatmentArmId]="matchData.assignmentReport.treatmentArm.treatmentArmId"
                        [version]="matchData.assignmentReport.treatmentArm.version" [removePrefix]="true"></treatment-arm-link>
                      <span *ngIf="!matchData.assignmentReport">-</span>
                    </h5>
                  </div>
                  <div *ngIf="matchData.assignmentReport.hasSelectedTreatmentArm" class="panel panel-success overflow-hidden">
                    <div class="panel-heading">
                      <p>
                        {{matchData.assignmentReport.patientAssignmentStatusMessage | dashify}}
                        <a (click)="scrollTo('match-assignment-details')" class="text-white text-underlined white-link"><br><br><i class="fa fa-arrow-down" aria-hidden="true"></i> Click for details...</a>
                      </p>
                    </div>
                  </div>
                </div>
    
                <h4 class="f-w-700">Disease</h4>
                <sd-disease [disease]="matchData.disease"></sd-disease>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="matchData && matchData.analysisId" class="row" matchHeight="panel-height-middle">
          <div class="col-md-6">
            <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-middle">
              <div class="panel-heading" id="crMoiSummary">
                <dl class="dl-horizontal">
                  <h4 class="f-w-700">MOI/aMOI Summary</h4>
                  <dt>Total aMOIs</dt>
                  <dd>{{matchData.moiSummary.totalaMOIs | dashify}}</dd>
                  <dt>Total MOIs</dt>
                  <dd>{{matchData.moiSummary.totalMOIs | dashify}}</dd>
                  <dt>Total Confirmed aMOIs</dt>
                  <dd>{{matchData.moiSummary.confirmedaMOIs | dashify}}</dd>
                  <dt>Total Confirmed MOIs</dt>
                  <dd>{{matchData.moiSummary.confirmedMOIs | dashify}}</dd>
                </dl>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-middle">
              <div class="panel-heading" id="crAssay">
                <h4 class="f-w-700">Assays</h4>
                <table class="table table-condensed white-header">
                  <thead>
                    <tr>
                      <th>IHC</th>
                      <th>Result</th>
                      <th>Order Date</th>
                      <th>Result Date</th>
                      <th>Comment</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="matchData.assignmentReport">
                    <tr *ngFor="let item of matchData.assayMessages">
                      <td>{{item.biomarker | dashify}}</td>
                      <td>{{item.result | dashify}}</td>
                      <td>{{item.orderedDate | gmt}}</td>
                      <td>{{item.reportedDate | gmt}}</td>
                      <td>{{item.comment | dashify}}</td>
                    </tr>
                    <tr *ngIf="!matchData.assayMessages || !matchData.assayMessages.length">
                      <td colspan="3" class="text-muted">No Assay data</td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="!matchData.assignmentReport">
                    <tr>
                      <td colspan="3" class="text-muted">No Assay data</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <p *ngIf="!matchData || !matchData.analysisId" class="empty-data-panel">No Confirmation Variant Report data</p>

        <sd-variant-report-simple-table-snv-indels *ngIf="matchData && matchData.variantReport" [items]="matchData.variantReport.singleNucleotideVariantAndIndels" [isEditable]="matchData.isVariantReportEditable && allowVariantReportEdit" (onVariantUpdated)="onVariantUpdated(matchData, $event)"
          [title]="'Single Nucleotide Variants and Indels'"></sd-variant-report-simple-table-snv-indels>

        <sd-variant-report-simple-table-cnv *ngIf="matchData && matchData.variantReport" [items]="matchData.variantReport.copyNumberVariants" [isEditable]="matchData.isVariantReportEditable && allowVariantReportEdit" (onVariantUpdated)="onVariantUpdated(matchData, $event)" [title]="'Copy Number Variants'"></sd-variant-report-simple-table-cnv>

        <sd-variant-report-simple-table-gf *ngIf="matchData && matchData.variantReport" [items]="matchData.variantReport.unifiedGeneFusions" [isEditable]="matchData.isVariantReportEditable && allowVariantReportEdit" (onVariantUpdated)="onVariantUpdated(matchData, $event)" [title]="'Gene Fusions'"></sd-variant-report-simple-table-gf>

        <div class="row" *ngIf="matchData && matchData.isVariantReportEditable && allowVariantReportEdit">
          <div class="col-md-12 text-center m-t-20">
            <button class="btn btn-danger" (click)="rejectMatchVariantReport()"><i class="fa fa-times"></i> Reject Report</button>
            <button class="btn btn-lime" (click)="confirmMatchVariantReport()"><i class="fa fa-check"></i> Confirm Report</button>
          </div>
        </div>

        <div *ngIf="hasAssignment(matchData)" id="match-assignment-details">
          <sd-assignment-reason-table [reasons]="matchData.assignmentReport.reasons"></sd-assignment-reason-table>

          <div class="text-center m-b-20" *ngIf="matchData.isAssignmentReportEditable && allowAssignmentReportEdit">
            <button class="btn btn-lime" (click)="confirmMatchAssignmentReport()"><i class="fa fa-check"></i> Confirm Assignment</button>
          </div>
        </div>

        <p *ngIf="!hasAssignment(matchData)" class="empty-data-panel">No Confirmation Report Assignment data</p>
      </tab>
      <!-- #endregion Confirmation Report Tab -->

      <!-- #region Comparison Report Tab -->
      <tab heading="Confirmation Report" [active]="!showOutsideAssay" *ngIf="showComparison">
        <div *ngIf="matchData && matchData.analysisId" class="row" matchHeight="panel-height-top">
          <div class="col-md-6">
            <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-top">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-md-8">
                    <h4 class="f-w-700">Variant Report</h4>
                  </div>
                  <div class="col-md-4 text-right">
                    <a class="btn btn-sm btn-link" role="button" href [routerLink]="['/patients/' + patientSequenceNumber + '/variant_reports/' + matchData.analysisId +'/qc']"><i class="fa fa-file-text-o"></i> QC Report</a>
                    <a href="javascript:;" class="btn btn-sm btn-link"><i class="fa fa-file-excel-o"></i> Excel</a>
                  </div>
                </div>

                <dl class="dl-horizontal">
                  <dt>Molecular Sequence Number</dt>
                  <dd>{{matchData.variantReport.molecularSequenceNumber | dashify}}</dd>
                  <dt>Biopsy Sequence Number</dt>
                  <dd>{{matchData.biopsySequenceNumber | dashify}}</dd>
                  <dt>Analysis ID</dt>
                  <dd>{{matchData.analysisId | dashify}}</dd>
                  <dt>Patient</dt>
                  <dd><a href [routerLink]="['/patients', patientSequenceNumber]" class="link-none">{{patientSequenceNumber | dashify}}</a>,
                    <span [colorCodePatients]="currentPatientStatus">{{currentPatientStatus | dashify}}</span>, Step {{currentStepNumber
                    | dashify}}</dd>
                  <dt>Disease Concordance</dt>
                  <dd><span [colorCodeConcordance]="concordance">{{concordance | dashify}}</span></dd>
                  <dt>Status</dt>
                  <dd><span [colorCodeVariantReport]="matchData.variantReport.variantReportStatus">{{matchData.variantReport.variantReportStatus | dashify}}</span>                    on {{matchData.variantReport.variantReportCreatedDate | gmt}} by {{matchData.variantReport.user | dashify}}</dd>
                  <dt>MAPD</dt>
                  <dd>{{matchData.mapd | dashify}}</dd>
                  <dt>Cellularity</dt>
                  <dd>{{matchData.cellularity | dashify}}</dd>
                  <dt>File Received Date</dt>
                  <dd>{{matchData.variantReport.createdDate | gmt}}</dd>

                  <dt *ngIf="!showPools">Torrent Variant Caller Version</dt>
                  <dd *ngIf="!showPools">{{matchData.tvc_version | dashify}}</dd>
                  <dt *ngIf="showPools">Pool 1</dt>
                  <dd *ngIf="showPools">{{matchData.pool1 | dashify}}</dd>
                  <dt *ngIf="showPools">Pool 2</dt>
                  <dd *ngIf="showPools">{{matchData.pool2 | dashify}}</dd>
                </dl>

              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-top">
              <div class="panel-heading" *ngIf="!hasAssignment(matchData) && !hasAssignment(outsideData)">
                <h4 class="f-w-700">Latest Assignment</h4>
              </div>
              <div class="panel-heading" *ngIf="!hasAssignment(matchData) && !hasAssignment(outsideData)">
                <p class="text-muted">No Assignment data yet</p>
              </div>
              <div class="panel-heading" *ngIf="hasAssignment(matchData) && hasAssignment(outsideData)">
                <h4 class="f-w-700">Assignment</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div *ngIf="outsideData.assignmentReport.hasSelectedTreatmentArm">
                      <h5><span class="badge outside-data-text">Selected Treatment Arm</span></h5>
                      <h5>
                        <treatment-arm-link *ngIf="outsideData.assignmentReport" [treatmentArmId]="outsideData.assignmentReport.treatmentArm.treatmentArmId"
                          [version]="outsideData.assignmentReport.treatmentArm.version" [removePrefix]="true"></treatment-arm-link>
                        <span *ngIf="!outsideData.assignmentReport">-</span>
                      </h5>
                    </div>
                    <div *ngIf="outsideData.assignmentReport.hasSelectedTreatmentArm" class="panel panel-success overflow-hidden">
                      <div class="panel-heading">
                        <p>
                          {{outsideData.assignmentReport.patientAssignmentStatusMessage | dashify}}
                          <a (click)="openOutsideAssignmentReason('outside-assignment-details', true)" class="text-white text-underlined white-link"><br><br><i class="fa fa-arrow-down" aria-hidden="true"></i> Click for details...</a>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div *ngIf="matchData.assignmentReport.hasSelectedTreatmentArm">
                      <h5><span class="badge match-data-text">Confirmation Treatment Arm</span></h5>
                      <h5>
                        <treatment-arm-link *ngIf="matchData.assignmentReport" [treatmentArmId]="matchData.assignmentReport.treatmentArm.treatmentArmId"
                          [version]="matchData.assignmentReport.treatmentArm.version" [removePrefix]="true"></treatment-arm-link>
                        <span *ngIf="!matchData.assignmentReport">-</span>
                      </h5>
                    </div>
                    <div *ngIf="matchData.assignmentReport.hasSelectedTreatmentArm" class="panel panel-success overflow-hidden">
                      <div class="panel-heading">
                        <p>
                          {{matchData.assignmentReport.patientAssignmentStatusMessage | dashify}}
                          <a (click)="scrollTo('assignment-details')" class="text-white text-underlined white-link"><br><br><i class="fa fa-arrow-down" aria-hidden="true"></i> Click for details...</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <p *ngIf="!matchData || !matchData.analysisId" class="empty-data-panel">No Confirmation Variant Report data</p>

        <div class="panel panel-white panel-accent-bottom-purple overflow-hidden panel-height-middle">
          <div class="panel-heading">
            <dl class="dl-horizontal">
              <h4 class="f-w-700">Comparison Summary: <span class="badge outside-data-text">Treatment Report Data</span> vs <span class="badge match-data-text">Confirmation Report Data</span></h4>
              <dt>Total Variants</dt>
              <dd><span class="badge badge-info">{{comparisonVariantReport.summary.totalVariants}}</span></dd>
              <dt>Passed Variants</dt>
              <dd><span class="badge badge-lime">{{comparisonVariantReport.summary.passVariants}}</span></dd>
              <dt>Failed Variants</dt>
              <dd><span class="badge badge-danger">{{comparisonVariantReport.summary.failVariants}}</span></dd>
            </dl>
          </div>
        </div>

        <sd-variant-report-comparison-table-snv-indels [items]="comparisonVariantReport.singleNucleotideVariantAndIndels" [title]="'Single Nucleotide Variants and Indels'"></sd-variant-report-comparison-table-snv-indels>

        <sd-variant-report-comparison-table-cnv [items]="comparisonVariantReport.copyNumberVariants" [title]="'Copy Number Variants'"></sd-variant-report-comparison-table-cnv>

        <sd-variant-report-comparison-table-gf [items]="comparisonVariantReport.unifiedGeneFusions" [title]="'Gene Fusions'"></sd-variant-report-comparison-table-gf>

        <div *ngIf="hasAssignment(matchData)" id="assignment-details">
          <sd-assignment-reason-table [reasons]="matchData.assignmentReport.reasons"></sd-assignment-reason-table>

        </div>

        <p *ngIf="!hasAssignment(matchData)" class="empty-data-panel">No Confirmation Report Assignment data</p>

      </tab>
      <!-- #endregion Comparison Report Tab -->

    </tabset>
  </div>

</div>
