@import "./../../../scss/colors.scss";

.outside-data-text {
  background-color: $bg-outside-color;
  color: $text-outside-color;
  font-size: 100%;
}

.match-data-text {
  background-color: $bg-match-color;
  color: $text-match-color;
  font-size: 100%;
}
