<div id="content" class="content">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-white overflow-hidden m-b-10">
        <div class="panel-heading">
          <dl class="dl-horizontal">
            <dt>Patient Sequence Number</dt>
            <dd>10069</dd>

            <dt>Patient</dt>
            <dd>MALE, WHITE</dd>

            <dt>Current Status</dt>
            <dd>ON_TREATMENT_ARM</dd>

            <dt>Current Step Number</dt>
            <dd>1</dd>

            <dt>Registration Date</dt>
            <dd>September 4, 2015 7:00 PM GMT</dd>

            <dt>Last Rejoin Scan Date</dt>
            <dd>February 29, 2016 5:04 PM GMT</dd>
          </dl>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-white overflow-hidden m-b-10">
        <div class="panel-heading">
          <dl class="dl-horizontal">
            <dt>Current Treatment Arm</dt>
            <dd> EAY131-S1</dd>

            <dt>Current Assignment Reason</dt>
            <dd>The patient and treatment arm match on non-hotspot variant [(ID: .,GENE: NF1,OVA: Deleterious,EXON: 35,FUNC: nonsense,PROTEIN:p.Arg1534Ter)].</dd>

            <dt>Current Assignment Details</dt>
            <dd> Assignment Report</dd>

            <dt>Concordance</dt>
            <dd>YES</dd>

          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-white overflow-hidden m-b-10">
        <div class="panel-heading">
          <h4 class="panel-title">Patient Table</h4>
        </div>
      </div>
    </div>
  </div>

</div>