<div class="row" style="padding-top: 60px;">
  <!--FIX_ME: remove style/padding-->
  <!--TO_DO: CHART 1-->
  <div class="col-md-6">
    <!-- begin panel -->
    <div class="panel p-20">
      <h5 class="m-t-0">Bar Chart</h5>
      <p class="m-b-15">
        A bar chart is a way of showing data as bars. It is sometimes used to show trend data, and the comparison of multiple data
        sets side by side.
      </p>
      <div>
        <iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px;"></iframe>
        <canvas id="bar-chart" width="568" height="284" style="display: block; width: 568px; height: 284px;"></canvas>
      </div>
    </div>
    <!-- end panel -->
  </div>
</div>
<h2>Patients Pages will go here</h2>
<h3>Features</h3>
<ul>
  <li>Stats</li>
  <li>List</li>
  <li>Details</li>
</ul>
<div class="row">
  <!-- begin col-3 -->
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-inverse-light text-white">
    </div>
    <!-- end widget -->
  </div>
  <!-- end col-3 -->
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-grey-light text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-purple-light text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-red-lighter text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-primary-light text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-info-light text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-success-light text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-lime-light text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-warning-light text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-danger-light text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat no-bg text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-white text-white">
    </div>
    <!-- end widget -->
  </div>
</div>
<div class="row">
  <!-- begin col-3 -->
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-inverse text-white">
    </div>
    <!-- end widget -->
  </div>
  <!-- end col-3 -->
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-grey text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-purple text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-red text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-primary text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-info text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-success text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-lime text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-warning text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-danger text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat no-bg text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-white text-white">
    </div>
    <!-- end widget -->
  </div>
</div>
<div class="row" style="padding-bottom: 40px;">
  <!--FIX_ME: remove style/padding-->
  <!-- begin col-3 -->
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-inverse-dark text-white">
    </div>
    <!-- end widget -->
  </div>
  <!-- end col-3 -->
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-grey-dark text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-purple-dark text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-red-darker text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-primary-dark text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-info-dark text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-success-dark text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-lime-dark text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-warning-dark text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-danger-dark text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat no-bg text-white">
    </div>
    <!-- end widget -->
  </div>
  <div class="col-md-1">
    <!-- begin widget -->
    <div class="widget widget-stat bg-white text-white">
    </div>
    <!-- end widget -->
  </div>
</div>
