# Git
.git
.gitignore

# CI
.codeclimate.yml
.codacy.yml
.travis.yml

# compiled output
tmp

# dependencies
#node_modules
bower_components

# IDEs and editors
.idea
.project
.classpath
*.launch
.settings/

# misc
.sass-cache
connect.lock
coverage/*
coverag_js/*
libpeerconnection.log
npm-debug.log
testem.log
typings
misc

# e2e
e2e/*.js
e2e/*.map

# System Files
.DS_Store
Thumbs.db

# Node/TS files
#ts-node-*
#.node-gyp
#.npm
#.v8flags.*.json
