<div class="usage-warning">
  <div class="usage-warning-brand bg-white">
    <img src="assets/svg/nci-logo-full.svg" alt="National Cancer Institute at National Institute of Health">
  </div>

  <div class="usage-warning-content">
    <h3 class="text-center m-t-0 m-b-20">Molecular Analysis for Therapy Choice</h3>
    <p>
      You are accessing a U.S. Government information system, which includes (1) this computer, (2) this computer network, (3)
      all computers connected to this network, and (4) all devices and storage media attached to this network or to a computer
      on this network. This information system is provided for U.S. Government-authorized use only.
    </p>

    <p>
      Unauthorized or improper use of this system may result in disciplinary action, as well as civil and criminal penalties.
    </p>

    <p>
      By using this information system, you understand and consent to the following.
    </p>

    <p>
      &bull; You have no reasonable expectation of privacy regarding any communications or data transiting or stored on this information
      system. At any time, and for any lawful Government purpose, the government may monitor, intercept, record, and search
      and seize any communication or data transiting or stored on this information system.
    </p>

    <p>
      &bull; Any communication or data transiting or stored on this information system may be disclosed or used for any lawful Government
      purpose.
    </p>

    <p>
      <a href="http://www.cancer.gov/about-cancer/treatment/clinical-trials/nci-supported/nci-match" target="_blank">Read more about NCI-MATCH Trial</a>
    </p>

    <br/>

    <p class="text-center m-b-10">
      <button class="btn btn-info btn-lg btn-block" (click)="auth.login()">Aknowledge and Continue</button>
    </p>


  </div>
</div>

<div class="bg-image">
</div>
