<div class="login">
  <div class="login-brand bg-white">
    <img src="assets/svg/nci-logo-full.svg" alt="National Cancer Institute at National Institute of Health">
  </div>

  <div class="login-content">
    <h2 class="text-center m-t-0 m-b-20">NCI-MATCH</h2>
    <form class="form-input-flat">
      <div class="form-group">
        <input type="text" class="form-control input-lg" #username placeholder="User name">
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-lg" #password placeholder="Password">
      </div>
      <div class="row m-b-20">
        <div class="col-md-12">
          <button type="submit" class="btn btn-lime btn-lg btn-block" (click)="auth.login(username.value, password.value)">Login</button>
        </div>
      </div>
      <div class="text-center">
        <a href="http://www.cancer.gov/about-cancer/treatment/clinical-trials/nci-supported/nci-match" class="text-muted">About NCI-MATCH Trial</a>
      </div>
    </form>
  </div>
</div>

<div class="bg-image">
</div>
