.stacked-container {
  position: relative;
}

.stacked-front {
  position: absolute;
  z-index: 3;

  button {
    color: transparent;
    background: transparent;
    border: 2px solid transparent;
    height: 17px;
    margin-left: -3px;
    margin-top: 0px;
    padding-top: 13px;
    padding-left: 8px;
    padding-right: 6px;
  }
}

.stacked-back {
  position: absolute;
  z-index: 2;

  input {
    outline: none;
  }
}
