:host {
  display: block;
  // padding: 0 16px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.005em;
  margin-bottom: 0;
  margin-top: 0.83em;
}

.dl-horizontal dt {
  white-space: normal;
}

.dl-horizontal dt {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 8px;
}

.dl-horizontal dd {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 8px;
}

.table-fixed thead {
  width: 100%;
}

.table-fixed tbody {
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: block;
}

.table-fixed tbody td,
.table-fixed thead>tr>th {
  float: left;
  border-bottom-width: 0;
}
