<div id="page-container" class="fade page-container in">
  <!-- begin error -->
  <div class="error">
    <div class="error-code">404</div>
    <div class="error-content">
      <div class="error-message m-b-5">The requested resource returns a "Not Found" error.</div>
      <div class="error-desc m-b-20">
        Our servers seem to be experiencing some technical difficulties. Please try again later or contact our help desk at
        <a class="link-email" href="mailto:matchbox-support@nih.gov">matchbox-support@nih.gov</a> for further assistance.
      </div>
      <div>
        <a href="javascript:window.history.go(-2);" class="btn btn-danger btn-rounded">Go Back</a>
      </div>
    </div>
  </div>
  <!-- end error -->
</div>
