<div id="content" class="content">
  <div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <!-- begin widget -->
      <a class="link-none" href="javascript:void(0)" [routerLink]="['/patients']">
        <div class="widget widget-stat bg-purple text-white">
          <div class="widget-stat-icon"><i class="fa fa-users fa-lg"></i></div>
          <div class="widget-stat-info">
            <div class="widget-stat-title text-right">Patients</div>
            <div class="widget-stat-number text-right">206</div>
            <div class="widget-stat-text text-right">On Treatment Arm | Off Trial</div>
          </div>
        </div>
      </a>
      <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <!-- begin widget -->
      <a class="link-none" href="javascript:void(0)" [routerLink]="['/treatments']">
        <div class="widget widget-stat bg-success text-white">
          <div class="widget-stat-icon"><i class="fa fa-medkit fa-lg"></i></div>
          <div class="widget-stat-info">
            <div class="widget-stat-title text-right">Treatment Arms</div>
            <div class="widget-stat-number text-right">29</div>
            <div class="widget-stat-text text-right">Pending | Open | Suspended</div>
          </div>
        </div>
      </a>
      <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <!-- begin widget -->
      <a class="link-none" href="javascript:void(0)" [routerLink]="['/tracking']">
        <div class="widget widget-stat bg-info text-white">
          <div class="widget-stat-icon"><i class="fa fa-truck fa-lg"></i></div>
          <div class="widget-stat-info">
            <div class="widget-stat-title text-right">Biopsy Tracking</div>
            <div class="widget-stat-number text-right">164</div>
            <div class="widget-stat-text text-right">Biopsy | Molecular</div>
          </div>
        </div>
      </a>
      <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <!-- begin widget -->
      <a class="link-none" href="javascript:void(0)" [routerLink]="['/clia']">
        <div class="widget widget-stat bg-orangeshade text-white">
          <div class="widget-stat-icon"><i class="fa fa-flask fa-lg"></i></div>
          <div class="widget-stat-info">
            <div class="widget-stat-title text-right">CLIA Lab</div>
            <div class="widget-stat-number text-right">123</div>
            <div class="widget-stat-text text-right">Failed | Passed | Pending</div>
          </div>
        </div>
      </a>
      <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <div class="col-md-12">
      <!-- begin panel -->
      <div class="panel">
        <ul class="nav nav-tabs nav-tabs-primary">
          <li class="active"><a href="#justified-tab-1" (click)="initTab(1)" data-toggle="tab" aria-expanded="true">Variant Report(s)</a></li>
          <li class=""><a href="#justified-tab-2" (click)="initTab(2)" data-toggle="tab" aria-expanded="false">Assignment Report(s)</a></li>
        </ul>
        <div class="tab-content m-b-0">
          <div class="tab-pane fade active in" id="justified-tab-1">
            <!-- table 1 -->
            <div class="row">
              <!-- begin panel -->
              <div class="panel panel-purple">
                <div class="panel-heading">
                  <div class="panel-heading-btn">
                  </div>
                  <h4 class="panel-title">Pending Review</h4>
                </div>
                <div class="col-md-12 bg-purple-light">
                  <div class="col-md-6 p-l-5">
                    <div class="dataTables_length text-white form-inline p-t-15 p-b-10" id="data-table_length">
                      <label>Show
                        <select name="data-table_length" [(ngModel)]="numberOfRecords" (change)="ifTableAvailable(1)" aria-controls="data-table" class="form-control input-sm">
                          <option value=10>10</option>
                          <option value=25>25</option>
                          <option value=50>50</option>
                          <option value=100>100</option>
                        </select>
                      entries</label>
                    </div>
                  </div>
                  <div class="col-md-6 p-r-5">
                    <div id="data-table_filter" class="dataTables_filter pull-right text-white form-inline p-t-15 p-b-10">
                      <label>Search:
                        <input type="text" [(ngModel)]="searchterm1" (ngModelChange)="filterText(table1Data.variant_reports)" class="form-control input-sm " placeholder="" aria-controls="data-table">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="table-responsive col-lg-12">
                    <table class="table table-td-valign-middle">
                      <thead>
                        <tr class="purple">
                          <th (click)="orderByColumn('patientSequenceNumber')">Patient ID </th>
                          <th (click)="orderByColumn('molecularSequenceNumber')">Molecular ID</th>
                          <th (click)="orderByColumn('Variant Report')">Variant Report</th>
                          <th (click)="orderByColumn('location')">Location</th>
                          <th (click)="orderByColumn('currentPatientStatus')">Patient Status</th>
                          <th (click)="orderByColumn('specimenReceivedDate')">Specimen Received Date</th>
                          <th (click)="orderByColumn('ngsDateReceived')">Variant Report Recieved Date</th>
                          <th (click)="orderByColumn('daysPending')">Days Pending</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let table1 of table1Data.variant_reports |filterByText:searchterm1 | slice: (currentPage)*numberOfRecords: (currentPage+1)*numberOfRecords | orderBy : orderByString;let i=index"
                          [ngClass]="{true:'evenclass',false:'oddclass'}[i%2==0]">
                          <td>{{table1.patientSequenceNumber}}</td>
                          <td>{{table1.molecularSequenceNumber}}</td>
                          <td><strong>Variant Report</strong></td>
                          <td>{{table1.location}}</td>
                          <td>{{table1.currentPatientStatus}}</td>
                          <td>{{table1.specimenReceivedDate | date:'MMMM d, y h:mm a UTC'}}</td>
                          <!--provide: LOCALE_ID, useValue: "IS-IS"-->
                          <td>{{table1.ngsDateReceived | date:'MMMM d, y h:mm a UTC'}}</td>
                          <td>{{table1.daysPending}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="dataTables_info" id="data-table_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                  </div>
                  <div class="col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers pull-right" id="data-table_paginate">
                      <ul class="pagination">
                        <li class="paginate_button previous" id="data-table_previous" [ngClass]="disablePrevious()">
                          <a href="javascript:void(0)" (click)="prevPage()" aria-controls="data-table" data-dt-idx="0" tabindex="0">Previous</a>
                        </li>
                        <li class="paginate_button" *ngFor="let p of paginationRange;let i =index" (click)="setPage(p)">
                          <a href="javascript:void(0)" (click)="pageClicked(p)" aria-controls="data-table" data-dt-idx="1" tabindex="0">{{p+1}}</a>
                        </li>
                        <li class="paginate_button next" id="data-table_next" [ngClass]="disableNext()">
                          <a href="javascript:void(0)" (click)="nextPage()" aria-controls="data-table" data-dt-idx="7" tabindex="0">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end panel -->
            </div>
          </div>
          <div class="tab-pane fade" id="justified-tab-2">
            <!-- table 2 -->
            <div class="row">
              <!-- begin panel -->
              <div class="panel panel-purple">
                <div class="panel-heading">
                  <div class="panel-heading-btn">
                  </div>
                  <h4 class="panel-title">Needing Confirmation</h4>
                </div>
                <div class="col-md-12 bg-purple-light">
                  <div class="col-md-6 p-l-5">
                    <div class="dataTables_length text-white form-inline p-t-15 p-b-10" id="data-table_length">
                      <label>Show
                        <select name="data-table_length" [(ngModel)]="numberOfRecords" (change)="ifTableAvailable(2)" aria-controls="data-table" class="form-control input-sm">
                          <option value=10>10</option>
                          <option value=25>25</option>
                          <option value=50>50</option>
                          <option value=100>100</option>
                        </select> 
                      entries</label>
                    </div>
                  </div>
                  <div class="col-md-6 p-r-5">
                    <div id="data-table_filter" class="dataTables_filter pull-right text-white form-inline p-t-15 p-b-10">
                      <label>Search:
                        <input type="text" [(ngModel)]="searchterm1" (ngModelChange)="filterText(table2Data.assignment_reports)" class="form-control input-sm" placeholder="" aria-controls="data-table">
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="table-responsive col-lg-12">
                    <table class="table table-td-valign-middle">
                      <thead>
                        <tr class="purple">
                          <th>Patient ID</th>
                          <th>Patient Current Status</th>
                          <th>Assignment Report</th>
                          <th>Assignment Date</th>
                          <th>Hours Pending</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let table2 of table2Data.assignment_reports | filterByText: searchterm1 | slice: (currentPage)*numberOfRecords: (currentPage+1)*numberOfRecords | orderBy : orderByString;let i=index"
                          [ngClass]="{true:'evenclass',false:'oddclass'}[i%2==0]">
                          <td>{{table2.patientSequenceNumber}}</td>
                          <td>{{table2.patientCurrentStatus}}</td>
                          <td><strong>Assignment Report</strong></td>
                          <td>{{table2.dateAssigned | date:'MMMM d, y h:mm a UTC'}}</td>
                          <td>{{table2.hoursPending}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="dataTables_info" id="data-table_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                  </div>
                  <div class="col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers pull-right" id="data-table_paginate">
                      <ul class="pagination">
                        <li class="paginate_button previous" id="data-table_previous" [ngClass]="disablePrevious()">
                          <a href="javascript:void(0)" (click)="prevPage()" aria-controls="data-table" data-dt-idx="0" tabindex="0">Previous</a>
                        </li>
                        <li class="paginate_button" *ngFor="let p of paginationRange;let i =index" (click)="setPage(p)">
                          <a href="javascript:void(0)" (click)="pageClicked(p)" aria-controls="data-table" data-dt-idx="1" tabindex="0">{{p+1}}</a>
                        </li>
                        <li class="paginate_button next" id="data-table_next" [ngClass]="disableNext()">
                          <a href="javascript:void(0)" (click)="nextPage()" aria-controls="data-table" data-dt-idx="7" tabindex="0">Next</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end panel -->
            </div>
          </div>
        </div>
      </div>
      <!-- end panel -->
    </div>
    <!-- table 3 -->
    <div class="col-md-12">
      <!-- begin panel -->
      <div class="panel panel-purple">
        <div class="panel-heading">
          <div class="panel-heading-btn">
          </div>
          <h4 class="panel-title">Patients Awaiting Further Action Or Information</h4>
        </div>
        <div class="col-md-12 bg-purple-light">
          <div class="col-md-6 p-l-5">
            <div class="dataTables_length text-white form-inline p-t-15 p-b-10" id="data-table_length">
              <label>Show
                        <select name="data-table_length" [(ngModel)]="numberOfRecords" (change)="ifTableAvailable(3)" aria-controls="data-table" class="form-control input-sm">
                          <option value=10>10</option>
                          <option value=25>25</option>
                          <option value=50>50</option>
                          <option value=100>100</option>
                        </select> 
                      entries</label>
            </div>
          </div>
          <div class="col-md-6 p-r-5">
            <div id="data-table_filter" class="dataTables_filter pull-right text-white form-inline p-t-15 p-b-10">
              <label>Search:
                        <input type="text"  [(ngModel)]="searchterm1" (ngModelChange)="filterText(table3Data)" class="form-control input-sm" placeholder="" aria-controls="data-table">
                      </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive col-lg-12">
            <table class="table table-td-valign-middle">
              <thead>
                <tr class="purple">
                  <th>Patient ID</th>
                  <th>Molecular ID</th>
                  <th>Variant Report</th>
                  <th>Concordance</th>
                  <th>Variant Report Confirmation Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let table3 of table3Data | filterByText: searchterm1 | slice: (currentPage)*numberOfRecords: (currentPage+1)*numberOfRecords | orderBy : orderByString;let i=index"
                  [ngClass]="{true:'evenclass',false:'oddclass'}[i%2==0]">
                  <td>{{table3.psn}}</td>
                  <td>{{table3.msn}}</td>
                  <td><strong>Variant Report</strong></td>
                  <td>AWAITING DATA</td>
                  <td>{{table3.date_verified | date:'MMMM d, y h:mm a UTC'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5">
            <div class="dataTables_info" id="data-table_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
          </div>
          <div class="col-md-7">
            <div class="dataTables_paginate paging_simple_numbers pull-right" id="data-table_paginate">
              <ul class="pagination">
                <li class="paginate_button previous" id="data-table_previous" [ngClass]="disablePrevious()">
                  <a href="javascript:void(0)" (click)="prevPage()" aria-controls="data-table" data-dt-idx="0" tabindex="0">Previous</a>
                </li>
                <li class="paginate_button" *ngFor="let p of paginationRange;let i =index" (click)="setPage(p)">
                  <a href="javascript:void(0)" (click)="pageClicked(p)" aria-controls="data-table" data-dt-idx="1" tabindex="0">{{p+1}}</a>
                </li>
                <li class="paginate_button next" id="data-table_next" [ngClass]="disableNext()">
                  <a href="javascript:void(0)" (click)="nextPage()" aria-controls="data-table" data-dt-idx="7" tabindex="0">Next</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- end panel -->
    </div>
  </div>
</div>
