<div id="content" class="content">
  <div class="row">
    <!-- begin col-3 -->
    <div class="col-md-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <!-- begin widget -->
      <a class="link-none" href="javascript:void(0)" [routerLink]="['/patients']">
        <div class="widget widget-stat bg-purple text-white">
          <div class="widget-stat-icon"><i class="fa fa-users fa-lg"></i></div>
          <div class="widget-stat-info">
            <div class="widget-stat-title text-right">Patients</div>
            <div class="widget-stat-number text-right">253</div>
            <div class="widget-stat-text text-right">22 On Treatment Arm&nbsp;&nbsp;|&nbsp;&nbsp;5 Off Trial</div>
          </div>
        </div>
      </a>
      <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <!-- begin widget -->
      <a class="link-none" href="javascript:void(0)" [routerLink]="['/treatments']">
        <div class="widget widget-stat bg-success text-white">
          <div class="widget-stat-icon"><i class="fa fa-medkit fa-lg"></i></div>
          <div class="widget-stat-info">
            <div class="widget-stat-title text-right">Treatment Arms</div>
            <div class="widget-stat-number text-right">29</div>
            <div class="widget-stat-text text-right">19 Open&nbsp;&nbsp;|&nbsp;&nbsp;3 Suspended&nbsp;&nbsp;|&nbsp;&nbsp;2 Closed</div>
          </div>
        </div>
      </a>
      <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <!-- begin widget -->
      <a class="link-none" href="javascript:void(0)" [routerLink]="['/tracking']">
        <div class="widget widget-stat bg-info text-white">
          <div class="widget-stat-icon"><i class="fa fa-truck fa-lg"></i></div>
          <div class="widget-stat-info">
            <div class="widget-stat-title text-right">Biopsy Tracking</div>
            <div class="widget-stat-number text-right">175</div>
            <div class="widget-stat-text text-right">90 Biopsy IDs&nbsp;&nbsp;|&nbsp;&nbsp;85 Molecular IDs</div>
          </div>
        </div>
      </a>
      <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <!-- begin col-3 -->
    <div class="col-md-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <!-- begin widget -->
      <a class="link-none" href="javascript:void(0)" [routerLink]="['/clia']">
        <div class="widget widget-stat bg-orangeshade text-white">
          <div class="widget-stat-icon"><i class="fa fa-flask fa-lg"></i></div>
          <div class="widget-stat-info">
            <div class="widget-stat-title text-right">CLIA Lab</div>
            <div class="widget-stat-number text-right">51</div>
            <div class="widget-stat-text text-right">25 Failed&nbsp;&nbsp;|&nbsp;&nbsp;19 Passed&nbsp;&nbsp;|&nbsp;&nbsp;3 Pending</div>
          </div>
        </div>
      </a>
      <!-- end widget -->
    </div>
    <!-- end col-3 -->
    <div class="col-md-12">
      <!-- begin panel -->
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title f-s-18">Pending Review</h4>
        </div>
        <div class="m-0 p-0">
          <div>
            <!--panel-purple-->
            <ul class="nav nav-tabs nav-tabs-primary p-l-0">
              <li class="active">
                <a class="p-0" href="#justified-tab-1" (click)="initTab(1)" data-toggle="tab" aria-expanded="true">
                  <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h4 class="panel-title">Variant Reports</h4>
                  </div>
                </a>
              </li>
              <li class="">
                <a class="p-0" href="#justified-tab-2" (click)="initTab(2)" data-toggle="tab" aria-expanded="false">
                  <div class="panel-heading">
                    <div class="panel-heading-btn">
                    </div>
                    <h4 class="panel-title">Assignment Reports</h4>
                  </div>
                </a>
              </li>
            </ul>
            <div class="tab-content m-b-0 p-l-10 p-r-10 p-t-0 p-b-0">
              <div class="tab-pane fade active in" id="justified-tab-1">
                <!-- table 1 -->
                <div class="row">
                  <!-- begin panel -->
                  <div>
                    <div class="col-md-12 bg-purple-light">
                      <div class="col-md-6 p-l-5">
                        <div class="dataTables_length text-white form-inline p-t-15 p-b-10" id="data-table_length">
                          <label>Show
                        <select name="data-table_length" [(ngModel)]="numberOfRecords" (change)="ifTableAvailable(1)" aria-controls="data-table" class="form-control input-sm">
                          <option value="10">10</option>
                          <option value=25>25</option>
                          <option value=50>50</option>
                          <option value=100>100</option>
                        </select>
                      entries</label>
                        </div>
                      </div>
                      <div class="col-md-6 p-r-5">
                        <div id="data-table_filter" class="dataTables_filter pull-right text-white form-inline p-t-15 p-b-10">
                          <label>Search:
                        <input type="text" [(ngModel)]="searchterm1" class="form-control input-sm" placeholder="" aria-controls="data-table">                      
                        </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="table-responsive col-lg-12">
                        <table class="table table-td-valign-middle table-striped" [mfData]="table1Data.variant_reports | filterByText: searchterm1"
                          #mftable1="mfDataTable" [mfRowsOnPage]="10">
                          <thead>
                            <tr class="purple">
                              <th>
                                <mfDefaultSorter by="patientSequenceNumber"><span class="table-header">Patient ID</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="molecularSequenceNumber"><span class="table-header">Molecular ID</span></mfDefaultSorter>
                              </th>
                              <th class="text-center">
                                Variant Report
                              </th>
                              <th>
                                <mfDefaultSorter by="location"><span class="table-header">Location</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="currentPatientStatus"><span class="table-header">Patient Status</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="specimenReceivedDate"><span class="table-header">Specimen Received Date</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="ngsDateReceived"><span class="table-header">Variant Report Recieved Date</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="daysPending"><span class="table-header">Days Pending</span></mfDefaultSorter>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of mftable1.data">
                              <td>{{item.patientSequenceNumber}}</td>
                              <td>{{item.molecularSequenceNumber}}</td>
                              <td class="text-center"><i class="fa fa-file-text-o"></i></td>
                              <td>{{item.location}}</td>
                              <td>{{item.currentPatientStatus}}</td>
                              <td>{{item.specimenReceivedDate | date:'MMMM d, y h:mm a UTC'}}</td>
                              <!--provide: LOCALE_ID, useValue: "IS-IS"-->
                              <td>{{item.ngsDateReceived | date:'MMMM d, y h:mm a UTC'}}</td>
                              <td [colorcode]="item.daysPending">{{item.daysPending}}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td class="tfoot-padding" colspan="8">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>

                  </div>
                  <!-- end panel -->
                </div>
              </div>
              <div class="tab-pane fade" id="justified-tab-2">
                <!-- table 2 -->
                <div class="row">
                  <!-- begin panel -->
                  <div>
                    <div class="col-md-12 bg-purple-light">
                      <div class="col-md-6 p-l-5">
                        <div class="dataTables_length text-white form-inline p-t-15 p-b-10" id="data-table_length">
                          <label>Show
                        <select name="data-table_length" [(ngModel)]="numberOfRecords"  aria-controls="data-table" class="form-control input-sm">
                          <option value=10>10</option>
                          <option value=25>25</option>
                          <option value=50>50</option>
                          <option value=100>100</option>
                        </select> 
                      entries</label>
                        </div>
                      </div>
                      <div class="col-md-6 p-r-5">
                        <div id="data-table_filter" class="dataTables_filter pull-right text-white form-inline p-t-15 p-b-10">
                          <label>Search:
                        <input type="text" [(ngModel)]="searchterm1" class="form-control input-sm" placeholder="" aria-controls="data-table">
                      </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="table-responsive col-lg-12">
                        <table class="table table-td-valign-middle table-striped" [mfData]="table2Data.assignment_reports | filterByText: searchterm1"
                          #mftable2="mfDataTable" [mfRowsOnPage]="10">
                          <thead>
                            <tr class="purple">
                              <th>
                                <mfDefaultSorter by="patientSequenceNumber"><span class="table-header">Patient ID</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="treatmentArm.id"><span class="table-header">Selected Treatment Arm</span></mfDefaultSorter>
                              </th>
                              <th class="text-center">
                                Assignment Report
                              </th>
                              <th>
                                <mfDefaultSorter by="dateAssigned"><span class="table-header">Assignment Date</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="hoursPending"><span class="table-header">Hours Pending</span></mfDefaultSorter>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of mftable2.data">
                              <td>{{item.patientSequenceNumber}}</td>
                              <td><span *ngIf="item.treatmentArm.id!==null">{{item.treatmentArm.id}} ({{item.treatmentArm.version}})</span>
                                <span
                                  *ngIf="item.treatmentArm.id===null">None</span>
                              </td>
                              <td class="text-center"><i class="fa fa-file-text-o"></i></td>
                              <td>{{item.dateAssigned | date:'MMMM d, y h:mm a UTC'}}</td>
                              <td [colorcode]="item.hoursPending">{{item.hoursPending}}</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td class="tfoot-padding" colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- end panel -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- end panel -->
    </div>
    <!-- table 3 -->
    <div class="col-md-12">
      <!-- begin panel -->
      <div class="panel">
        <div class="panel-heading">
          <div class="panel-heading-btn">
          </div>
          <h4 class="panel-title f-s-18">Patients Awaiting Further Action Or Information</h4>
        </div>
        <div class="col-md-12 bg-purple-light">
          <div class="col-md-6 p-l-5">
            <div class="dataTables_length text-white form-inline p-t-15 p-b-10" id="data-table_length">
              <label>Show
                        <select name="data-table_length" [(ngModel)]="numberOfRecords" (change)="ifTableAvailable(3)" aria-controls="data-table" class="form-control input-sm">
                          <option value=10>10</option>
                          <option value=25>25</option>
                          <option value=50>50</option>
                          <option value=100>100</option>
                        </select> 
                      entries</label>
            </div>
          </div>
          <div class="col-md-6 p-r-5">
            <div id="data-table_filter" class="dataTables_filter pull-right text-white form-inline p-t-15 p-b-10">
              <label>Search:
              <input type="text" [(ngModel)]="searchterm3" (ngModelChange)="filterText(table3Data,'t3')" class="form-control input-sm" placeholder="" aria-controls="data-table">
                      </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive col-lg-12">
            <table class="table table-td-valign-middle table-striped" [mfData]="table3Data | filterByText: searchterm3" #mftable3="mfDataTable"
              [mfRowsOnPage]="10">
              <thead>
                <tr class="purple">
                  <th>
                    <mfDefaultSorter by="psn"><span class="table-header">Patient ID</span></mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="bsn"><span class="table-header">Biopsy ID</span></mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="msn"><span class="table-header">Molecular ID</span></mfDefaultSorter>
                  </th>
                  <th class="text-center">Variant Report</th>
                  <th>
                    Reason
                    <!--<mfDefaultSorter by="reason?!"><span class="table-header">Reason</span></mfDefaultSorter>-->
                  </th>
                  <th>
                    <mfDefaultSorter by="date_verified"><span class="table-header">Variant Report Confirmation Date</span></mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mftable3.data">
                  <td>{{item.psn}}</td>
                  <td>{{item.bsn}}</td>
                  <td>{{item.msn}}</td>
                  <td class="text-center"><i class="fa fa-file-text-o"></i></td>
                  <td>AWAITING DATA</td>
                  <td>{{item.date_verified | date:'MMMM d, y h:mm a UTC'}}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td class="tfoot-padding" colspan="6">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
      <!-- end panel -->
    </div>
  </div>
</div>
