:host {
  display: block;
  // padding: 0 16px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.content {
  padding-top: 44px;
  padding-bottom: 45px;
}

.evenclass {
  background-color: #f7f7f7;
}

.oddclass {
  background-color: #ffffff;
}

.link-none {
  text-decoration: none;
}

.form-control {
  border-color: #2f1839;
}

.bg-orangeshade {
  background: #ff9966;
}

// .border-no-left {
//   border-top-left-radius: 0;
// }
// .border-no-right {
//   border-top-right-radius: 0;
// }
.table-header {
  color: #ffffff;
  text-decoration: none;
}

// .active {
//   background: #ffffff;
//   color: black;
// }
.tfoot-padding {
  padding-left: 15px;
  padding-right: 15px;
}
