$body-back-color: #eaeceb;
$light-purple-color: #af7ac4;
$dark-purple-color: #7c4792;
$border-purple-color: #3e2449;
$text-muted-color: #aab3ba;
$success-color: #17B6A4;
$light-success-color: #45C4B6;
$dark-success-color: #129283;
$border-success-color: #094942;
$light-info-color: #5FBFDB;
$dark-info-color: #2d8ca9;
$border-info-color: #164654;
$text-primary-light-color: #2184DA;
