$regular-text-color: #30373e;

$body-back-color: #eaeceb;
$text-muted-color: #aab3ba;
$dark-text-muted-color: #777;

/* Purple */

$purple-color: #9b59b6;
$light-purple-color: #af7ac4;
$dark-purple-color: #7c4792;
$border-purple-color: #3e2449;

/* Success */

$success-color: #17B6A4;
$light-success-color: #45C4B6;
$dark-success-color: #129283;
$border-success-color: #094942;

/* Orangeshade */

$orangeshade-color: #FF9966;
$light-orangeshade-color: #ffad84;
$dark-orangeshade-color: #cc7a52;
$border-orangeshade-color: #663E29;

/* Info */

$light-info-color: #5FBFDB;
$dark-info-color: #2d8ca9;
$border-info-color: #164654;
$bg-info-color: #38AFD3;

/* Primary */

$text-primary-light-color: #2184DA;

/* Danger */

$bg-danger-color: #F04B46;
$dark-danger-color: #F36F6B;
$light-danger-color: #c03c38;

/* Comparison */

$bg-outside-color: #feefd9;
$bg-match-color: #d7eff6;
$text-outside-color: #b17b2e;
$text-match-color: #277b94;

/* Pink */

$pink-color: #E257BC;

/* Warning */

$bg-warning-color: #fcaf41;
