@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 175px;
  }
  .dl-horizontal dd {
    margin-left: 190px;
  }
}

.table > thead > tr > th {
    // border-bottom-width: 2px !important; */
    border-bottom-style: none !important;
}
