@media (min-width: 768px) {
  .dl-horizontal dt {
    width: 190px;
  }
  .dl-horizontal dd {
    margin-left: 205px;
  }
}

.table>thead>tr>th {
  // border-bottom-width: 2px !important; */
  border-bottom-style: none !important;
}

.breadcrumb {
  z-index: 1020;
}
