<div class="modal-header">
  <h4 class="modal-title pull-left">Upload BAM files and Variant ZIP files</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group has-feedback" [ngClass]="{true:'has-error',false:'has-success'}[!analysisIdValid]">
    <label class="control-label">Analysis ID</label>
    <input type="text" #input class="form-control" placeholder="Enter Analysis ID" [(ngModel)]="analysisId" (ngModelChange)="onInputChanged($event)">
    <span class="fa form-control-feedback" [ngClass]="{true:'fa-times',false:'fa-check'}[!analysisIdValid]"></span>
  </div>
  <div *ngIf="!analysisIdValid" class="text-danger m-b-10 m-t-n10">
    {{message}}
  </div>
  <div class="row">
    <div class="col-md-4 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[hasVariantZipFile]">
      <label class="control-label">Variant ZIP File</label>
      <input type="file" accept=".zip" (change)="fileSelectedVariantZip($event.target.files[0])" id="variantUploadButton" [ngClass]="{true:'disable-div'}[!analysisIdValid]">
    </div>
    <div class="col-md-4 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[hasDnaBamFile]">
      <label class="control-label">DNA BAM File</label>
      <input type="file" accept=".zip" (change)="fileSelectedDnaBam($event.target.files[0])" id="dnaUploadButton" [ngClass]="{true:'disable-div'}[!analysisIdValid]">
      <!-- .bam -->
    </div>
    <div class="col-md-4 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[hasCdnaBamFile]">
      <label class="control-label">cDNA BAM File</label>
      <input type="file" accept=".zip" (change)="fileSelectedCdnaBam($event.target.files[0])" id="cdnaUploadButton" [ngClass]="{true:'disable-div'}[!analysisIdValid]">
      <!-- .bam -->
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" id="close-dialog" class="btn btn-default" (click)="modalRef.hide()">Close</button>
  <a [ngClass]="{false:'disabled'}[hasVariantZipFile && hasDnaBamFile && hasCdnaBamFile]" (click)="upload()" id="upload-files"
    class="btn btn-purple-light" aria-hidden="true">
    <i class="fa fa-cloud-upload"></i> Upload Files</a>
</div>
