.modal-body .dz-message {
  margin-top: 32px;
  margin-left: 20px;
}

.modal-body .dropzone .form-clickble,
.modal-body .dz-clickable,
.modal-body .dropzone {
  height: 190px;
}

.modal-body .dropzone .dz-preview,
.modal-body .dropzone .dz-file-preview {
  // margin: 6px;
}

.disable-div {
  pointer-events: none; // cursor: not-allowed;
}

a.disabled {
  pointer-events: none; // cursor: not-allowed;
}

.m-t-n6 {
  margin-top: -6px;
}

.m-t-n10 {
  margin-top: -10px;
}
