<div class="modal-header">
  <h4 class="modal-title pull-left">Upload BAM files and Variant ZIP files</h4>
  <a [ngClass]="{true:'disabled'}[isDisabled]" type="button" class="close pull-right" aria-label="Close" (click)="closeUploadDialog(false)">
    <span aria-hidden="true">&times;</span>
  </a>
</div>
<div class="modal-body">
  <div class="form-group has-feedback" [ngClass]="{true:'has-error',false:'has-success'}[!analysisIdValid]">
    <label class="control-label">Analysis ID</label>
    <input type="text" #input class="form-control" placeholder="Enter Analysis ID" [(ngModel)]="analysisId" (ngModelChange)="onInputChanged($event)">
    <span class="fa form-control-feedback" [ngClass]="{true:'fa-times',false:'fa-check'}[!analysisIdValid]"></span>
  </div>
  <div *ngIf="!analysisIdValid" class="text-danger m-b-10 m-t-n10">
    {{message}}
  </div>
  <div class="row">
    <div class="col-md-12 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[hasVariantZipFile]">
      <label class="control-label">Variant ZIP File</label>
      <input type="file" accept=".zip" (change)="fileSelectedVariantZip($event.target.files[0])" id="variantUploadButton" [ngClass]="{true:'disable-div'}[!analysisIdValid]">
      <div *ngIf="isDisabled" class="progress progress-striped active m-t-10 m-b-0">
        <div class="progress-bar progress-bar-purple active" [style.width.%]="percentDoneVariantZipFile">{{percentDoneVariantZipFile}}%</div>
      </div>
    </div>
    <div class="col-md-12 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[hasDnaBamFile]">
      <label class="control-label">DNA BAM File</label>
      <input type="file" accept=".bam" (change)="fileSelectedDnaBam($event.target.files[0])" id="dnaUploadButton" [ngClass]="{true:'disable-div'}[!analysisIdValid]">
      <div *ngIf="isDisabled" class="progress progress-striped active m-t-10 m-b-0">
        <div class="progress-bar progress-bar-purple active" [style.width.%]="percentDoneDnaBamFile">{{percentDoneDnaBamFile}}%</div>
      </div>
    </div>
    <div class="col-md-12 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[hasCdnaBamFile]">
      <label class="control-label">cDNA BAM File</label>
      <input type="file" accept=".bam" (change)="fileSelectedCdnaBam($event.target.files[0])" id="cdnaUploadButton" [ngClass]="{true:'disable-div'}[!analysisIdValid]">
      <div *ngIf="isDisabled" class="progress progress-striped active m-t-10 m-b-0">
        <div class="progress-bar progress-bar-purple active" [style.width.%]="percentDoneCdnaBamFile">{{percentDoneCdnaBamFile}}%</div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a *ngIf="!isDisabled" type="button" id="close-dialog" class="btn btn-default" (click)="closeUploadDialog(false)">Close</a>
  <a *ngIf="isDisabled" type="button" id="stop-and-close-dialog" class="btn btn-danger-light" (click)="closeUploadDialog(true)">Stop Upload and Close</a>
  <a [ngClass]="{false:'disabled'}[(hasVariantZipFile && hasDnaBamFile && hasCdnaBamFile && analysisIdValid) || (isDisabled)]" (click)="upload()"
    id="upload-files" class="btn btn-purple-light" aria-hidden="true">
    <i class="fa fa-cloud-upload"></i> Upload Files</a>
</div>
