<div class="modal fade" id="file-upload" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="fa fa-close"></i>
        </button>
        <h4 class="modal-title">Upload BAM files and Variant ZIP files</h4>
      </div>
      <div class="modal-body">
        <div class="form-group has-feedback" [ngClass]="{true:'has-error',false:'has-success'}[!analysisId]">
          <label class="control-label">Analysis ID</label>
          <input type="text" class="form-control" placeholder="Enter Analysis ID" [(ngModel)]="analysisId">
          <span class="fa form-control-feedback" [ngClass]="{true:'fa-times',false:'fa-check'}[!analysisId]"></span>
        </div>
        <div class="row">
          <div class="col-md-4 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[variantZip]">
            <label class="control-label">Variant ZIP File</label>
            <div class="form-control" [ngClass]="{true:'disable-div'}[!analysisId]" [dropzone]="dzConfigVariantZip" (addedfile)="addedFileVariantZip($event)" id="variantUploadButton"
              (removedfile)="removedFileVariantZip()" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
              <div class="dz-message" data-dz-message>
                <!-- start bdd tests -->
                <input style="display: none" type="file" id="variant" name="variant" accept=".zip" (addedfile)="addedFileVariantZip($event)">
                <!-- end bdd tests -->
                <span *ngIf="analysisId">
                  Click or drop Variant ZIP file here
                </span>
                <span *ngIf="!analysisId">
                  Enter Analysis ID to add Variant ZIP file
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[dnaBam]">
            <label class="control-label">DNA BAM File</label>
            <div class="form-control" [ngClass]="{true:'disable-div'}[!analysisId]" [dropzone]="dzConfigDnaBam" (addedfile)="addedFileDnaBam($event)" id="dnaUploadButton"
              (removedfile)="removedFileDnaBam()" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
              <div class="dz-message" data-dz-message>
                <!-- start bdd tests -->
                <input style="display: none" type="file" id="dna" name="dna" accept=".bam" (addedfile)="addedFileDnaBam($event)">
                <!-- end bdd tests -->
                <span *ngIf="analysisId">
                  Click or drop DNA BAM file here
                </span>
                <span *ngIf="!analysisId">
                  Enter Analysis ID to add DNA BAM file
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-4 form-group has-feedback" [ngClass]="{true:'has-success',false:'has-error'}[cdnaBam]">
            <label class="control-label">cDNA BAM File</label>
            <div class="form-control" [ngClass]="{true:'disable-div'}[!analysisId]" [dropzone]="dzConfigCdnaBam" (addedfile)="addedFileCdnaBam($event)" id="cdnaUploadButton"
              (removedfile)="removedFileCdnaBam()" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
              <div class="dz-message" data-dz-message>
                <!-- start bdd tests -->
                <input style="display: none" type="file" id="cdna" name="cdna" accept=".bam" (addedfile)="addedFileCdnaBam($event)">
                <!-- end bdd tests -->
                <span *ngIf="analysisId">
                  Click or drop cDNA BAM file here
                </span>
                <span *ngIf="!analysisId">
                  Enter Analysis ID to add cDNA BAM file
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a [ngClass]="{false:'disabled'}[variantZip && dnaBam && cdnaBam]" (click)="uploadFiles()" id="upload-files" class="btn width-100 btn-purple-light"
          data-dismiss="modal" aria-hidden="true">
          <i class="fa fa-cloud-upload"></i> Upload</a>
      </div>
    </div>
  </div>
</div>
