<table class="table table-condensed white-header">
  <thead>
    <tr>
      <th>IHC</th>
      <th>Result</th>
      <th>Order Date</th>
      <th>Result Date</th>
      <th>Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>
        <cosmic-link [linkType]="'cosmicGene'" [linkId]="item.gene"></cosmic-link>
      </td>
      <td [colorCodeAssay]="item.result">{{item.result | dashify}}</td>
      <td>{{item.orderedDate | gmt}}</td>
      <td>{{item.reportedDate | gmt}}</td>
      <td>{{item.comment | dashify}}</td>
    </tr>
    <tr ngIf="!items.length">
      <td colspan="5" class="text-muted">No Assay History data</td>
    </tr>
  </tbody>
</table>
