<div class="row" *ngIf="isOutsideAssayWorkflow">
  <div class="col-md-6">
    <sd-disease [disease]="diseaseOutsideData" [isOutsideAssayWorkflow]="isOutsideAssayWorkflow"></sd-disease>
  </div>
  <div class="col-md-6">
    <sd-disease [disease]="diseaseMatchData" [isOutsideAssayWorkflow]="isOutsideAssayWorkflow"></sd-disease>
  </div>
</div>
<dl class="dl-horizontal" *ngIf="!isOutsideAssayWorkflow">
    <sd-disease [disease]="disease" [isOutsideAssayWorkflow]="isOutsideAssayWorkflow"></sd-disease>
  </dl>        
