ul {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0px;

  li {
    list-style-type: none;
  }

  li.inline {
    display: inline;
  }  
}

a, u {
  cursor: pointer;
}

.popover {
    font-family: inherit;
}
