ul {
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0px;

  li {
    list-style-type: none;
  }

  li.inline {
    display: inline;
  }  
}

a {
  cursor: pointer;
}

.btn {
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  font-weight: normal;
}

:host  /deep/ .long-list-popover {
  .popover-content > ul {
      max-height: 400px;
      overflow: scroll;
  }
}

