<ul>
  <li *ngFor="let item of displayItems">{{item}}</li>
</ul>
<div class="m-b-10" *ngIf="displayItems.length > 0 && displayItems.length < items.length">
  <popover-content #detailsPopover [title]="title" placement="left" [closeOnClickOutside]="true">
    <ul class="m-10">
      <li *ngFor="let item of items">{{item}}</li>
    </ul>

    <a class="text-right" (click)="detailsPopover.hide()">Close</a>
  </popover-content>

  <button [popover]="detailsPopover" type="button" class="btn btn-link m-b-5" btn-xs>{{items.length - displayItems.length}} more ...</button>  
</div>
