<div id="content" class="content">
  <ol class="breadcrumb pull-right">
    <li><a href="javascript:;">Dashboard</a></li>
    <li class="active">Treatment Arms</li>
  </ol>
  <h1 class="page-header">Treatment Arms</h1>
  <div class="row">
    <div class="col-md-12">
      <!-- begin panel -->
      <div class="panel">
        <div class="m-0 p-0">
          <div>
            <div class="tab-content m-b-0 p-l-10 p-r-10 p-t-0 p-b-0">
              <div class="tab-pane active">
                <!-- table 4 -->
                <div class="row">
                  <!-- begin panel -->
                  <div>
                    <div class="col-md-12 bg-success-light">
                      <div class="col-md-6 p-l-5">
                        <div class="dataTables_length text-white form-inline p-t-15 p-b-10" id="data-table_length">
                          <label>Show
                        <select name="data-table_length" [(ngModel)]="recordsPerPage4" aria-controls="data-table" class="form-control input-sm">
                          <option [ngValue]=10>10</option>
                          <option [ngValue]=25>25</option>
                          <option [ngValue]=50>50</option>
                          <option [ngValue]=100>100</option>
                        </select>
                      entries</label>
                        </div>
                      </div>
                      <div class="col-md-6 p-r-5">
                        <div id="data-table_filter" class="dataTables_filter pull-right text-white form-inline p-t-15 p-b-10">
                          <label>Search:
                        <input type="text" [(ngModel)]="searchterm4" class="form-control input-sm" placeholder="" aria-controls="data-table">                      
                        </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="table-responsive col-lg-12">
                        <table class="table table-td-valign-middle table-striped table-col-width" [mfData]="table4Data | filterByText: searchterm4"
                          #mftable4="mfDataTable" [(mfSortBy)]="table4DefaultSort" [mfRowsOnPage]="recordsPerPage4">
                          <thead>
                            <tr class="success-light">
                              <th>
                                <mfDefaultSorter by="treatmentArmId"><span class="table-header">ID</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="treatmentArmName"><span class="table-header">Name</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="currentPatients"><span class="table-header">Current Patients</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="formerPatients"><span class="table-header">Former Patient</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="notEnrolledPatients"><span class="table-header">Not Enrolled Patients</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="pendingPatients"><span class="table-header">Pending Arm Approval</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="treatmentArmStatus"><span class="table-header">Status</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="dateCreated"><span class="table-header">Created Date</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="dateOpened"><span class="table-header">Open Date</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="dateSuspendedOrClosed"><span class="table-header">Suspended/Closed Date</span></mfDefaultSorter>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of mftable4.data">
                              <td routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <a href [routerLink]="['/treatments/details']" class="link-none">{{item.treatmentArmId | dashify}}</a>
                              </td>
                              <td>{{item.treatmentArmName | dashify}}</td>
                              <td>{{item.currentPatients | dashify}}</td>
                              <td>{{item.formerPatients | dashify}}</td>
                              <td>{{item.notEnrolledPatients | dashify}}</td>
                              <td>{{item.pendingPatients | dashify}}</td>
                              <td [colorcode-ta]="item.treatmentArmStatus">{{item.treatmentArmStatus | dashify}}</td>
                              <td>{{item.dateCreated | dashify}}</td>
                              <td>{{item.dateOpened | dashify}}</td>
                              <td>{{item.dateSuspendedOrClosed | dashify}}</td>
                            </tr>
                            <tr *ngIf="mftable4.data.length == 0">
                              <td class="f-s-15" colspan="10">No matching search results found for "{{searchterm4}}"</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td class="tfoot-padding" colspan="10">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]" [search]="searchterm4" [totallength]="table4Data.length"></mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>

                  </div>
                  <!-- end panel -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end panel -->
    </div>
  </div>
</div>
