<div class="row" matchHeight="panel-height">
  <div class="col-md-6">
    <div class="panel panel-white panel-accent-sides-purple overflow-hidden panel-height">
      <div class="panel-heading" id="patient_detail_left">
        <dl class="dl-horizontal">
          <dt>Patient Sequence Number</dt>
          <dd>{{items.patientSequenceNumber | dashify}}</dd>
          <dt>Patient</dt>
          <dd>
            <span *ngIf="items.gender && items.gender!=='PATIENT_REFUSAL'"> {{items.gender}}</span>
            <span *ngIf="items.ethnicity && items.ethnicity!=='PATIENT_REFUSAL'"> {{items.ethnicity}}</span>
            <span *ngIf="items.raceList && items.raceList!=='PATIENT_REFUSAL'"> {{items.raceList}}</span>
          </dd>
          <dt>Status</dt>
          <dd>
            <span [colorCodePatients]="items.currentPatientStatus">{{items.currentPatientStatus | dashify}}</span>
          </dd>
          <dt>Current Step</dt>
          <dd>{{items.currentStepNumber | dashify}}</dd>
          <dt>Treatment Arm</dt>
          <dd>
            <!-- <treatment-arm-link *ngIf="items.currentPatientAssignmentLogic" [treatmentArmId]="items.currentPatientAssignmentLogic.treatmentArmId"
              [version]="items.currentPatientAssignmentLogic.treatmentArmVersion" [removePrefix]="true"></treatment-arm-link> -->
            <span *ngIf="!items.currentPatientAssignmentLogic">-</span>
          </dd>
          <dt>Registration Date</dt>
          <dd>{{items.registrationDate | gmt | dashify}}</dd>
          <dt>Last Rejoin Scan Date</dt>
          <dd>{{items.lastRejoinScanDate | gmt | dashify}}</dd>
          <dt>Patient Type</dt>
          <dd>{{items.patientType | dashify}}</dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-white panel-accent-sides-purple overflow-hidden panel-height">
      <div class="panel-heading" id="patient_detail_right">
        <div class="row" *ngIf="items.isOutsideAssayWorkflow">
          <div class="col-md-6">
            <sd-disease [disease]="items.disease.outsideData" [isNarrow]="items.isOutsideAssayWorkflow" [diseasePrefix]="'MATCH'"></sd-disease>
          </div>
          <div class="col-md-6">
            <sd-disease [disease]="items.disease.matchData" [isNarrow]="items.isOutsideAssayWorkflow" [diseasePrefix]="'Outside Lab'"></sd-disease>
          </div>
        </div>
        <sd-disease *ngIf="!items.isOutsideAssayWorkflow" [disease]="items.disease" [isNarrow]="items.isOutsideAssayWorkflow"></sd-disease>
        <dl class="dl-horizontal">
          <dt>Concordance</dt>
          <dd [colorCodeConcordance]="items.concordance">{{items.concordance | dashify}}</dd>
          <dt>Assignment Reason</dt>
          <dd>{{(items.currentPatientAssignmentLogic ? items.currentPatientAssignmentLogic.reason : '') | dashify}}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
