<div class="widget match-timeline panel-accent-bottom-purple">
  <div class="widget-header bg-purple-light">
    <h4 class="text-white m-b-10">Patient Timeline</h4>
  </div>
  <div class="widget-body">
    <ul class="match-timeline-list">
      <li *ngFor="let item of items" class="timeline-item">
        <div class="timeline-info">
          <div class="timeline-image">
            <i [faIcon]="getIcon(item.patientStatus)" class="fa fa-user-o fa-2x"></i>
          </div>
          <h4>{{item.patientStatus}}</h4>
          <p>
            Step: {{item.stepNumber}}{{item.message ? ', ' + item.message : ''}}
          </p>
          <span class="timeline-time">{{item.auditDate | gmt}}</span>
        </div>
      </li>
    </ul>
    <p *ngIf="!items || !items.length" class="text-muted m-t-10 m-l-0">No Patient timeline data yet<p>
  </div>
</div>
