<div id="content" class="content">
  <ul class="breadcrumb pull-right">
    <li><a href [routerLink]="['/dashboard']" class="link-none">Dashboard</a></li>
    <li class="active">Patients</li>
  </ul>
  <h1 class="page-header">Patients</h1>
  <div class="row">
    <div class="col-md-12">
      <!-- begin panel -->
      <div class="panel">
        <div class="m-0 p-0">
          <div>
            <div class="tab-content m-b-0 p-l-10 p-r-10 p-t-0 p-b-0">
              <div class="tab-pane active">
                <!-- table 5 -->
                <div class="row">
                  <!-- begin panel -->
                  <div>
                    <div class="col-md-12 bg-purple-light">
                      <div class="col-md-6 p-l-5">
                        <div class="dataTables_length text-white form-inline p-t-15 p-b-10" id="data-table_length">
                          <label>Show
                        <select name="data-table_length" [(ngModel)]="recordsPerPagePatients" aria-controls="data-table" class="form-control form-control-purple input-sm">
                          <option [ngValue]=10>10</option>
                          <option [ngValue]=25>25</option>
                          <option [ngValue]=50>50</option>
                          <option [ngValue]=100>100</option>
                        </select>
                      entries</label>
                        </div>
                      </div>
                      <div class="col-md-6 p-r-5">
                        <div id="data-table_filter" class="dataTables_filter pull-right text-white form-inline p-t-15 p-b-10">
                          <label>Search:
                        <input type="text" [(ngModel)]="searchtermPatients" class="form-control form-control-purple input-sm" placeholder="" aria-controls="data-table">                      
                        </label>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="table-responsive col-lg-12">
                        <table class="table table-td-valign-middle table-striped" [mfData]="tablePatientsData | filterByText: searchtermPatients"
                          #mftablePatients="mfDataTable" [(mfSortBy)]="tablePatientsDefaultSort" [mfRowsOnPage]="recordsPerPagePatients">
                          <thead>
                            <tr class="purple-light">
                              <th>
                                <mfDefaultSorter by="patientSequenceNumber"><span class="table-header">PSN</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="currentStatus"><span class="table-header">Status</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="currentStepNumber"><span class="table-header">Step Number</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="diseases"><span class="table-header">Diseases</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="assignedTreatmentArm"><span class="table-header">Treatment Arm</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="registrationDate"><span class="table-header">Registration Date</span></mfDefaultSorter>
                              </th>
                              <th>
                                <mfDefaultSorter by="offTrialDate"><span class="table-header">Off Trial Date</span></mfDefaultSorter>
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of mftablePatients.data">
                              <td routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <a href [routerLink]="['/patients/details']" class="link-none"><i class="fa fa-user"></i> {{item.patientSequenceNumber | dashify}}</a>
                              </td>
                              <td [colorcode-patients]="item.currentStatus">{{item.currentStatus | dashify}}</td>
                              <td>{{item.currentStepNumber | dashify}}</td>
                              <td>{{item.diseases | dashify}}</td>
                              <td routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                                <span *ngIf="item.assignedTreatmentArm!==null"><a href [routerLink]="['/treatments/details']" class="link-none"><i class="fa fa-medkit"></i> {{item.assignedTreatmentArm | dashify}} ({{item.assignedTreatmentArmVersion | dashify}})</a></span>
                                <span *ngIf="item.assignedTreatmentArm===null">-</span>
                              </td>
                              <td>{{item.registrationDate | dashify}}</td>
                              <td>{{item.offTrialDate | dashify}}</td>
                            </tr>
                            <tr *ngIf="mftablePatients.data.length == 0">
                              <td class="f-s-15" colspan="7">No matching search results found for "{{searchtermPatients}}"</td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td class="tfoot-padding" colspan="7">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]" [search]="searchtermPatients" [totallength]="tablePatientsData.length"></mfBootstrapPaginator>
                              </td>
                            </tr>
                          </tfoot>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!-- end panel -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end panel -->
    </div>
  </div>
</div>
