@import "style.min.css";
@import "../scss/index";

// Uncomment to test the application-wide SASS styles 
// .content {
//     background-color: $test-color;
// }

.panel-accent-purple {
    border-left: 3px solid #9b59b6;
    border-right: 3px solid #9b59b6;
}

.widget {
    a {
        color: white;
    }
}
