<h4>{{title}}</h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Confirm</th>
      <th>Comment</th>
      <th>ID</th>
      <th>aMOI</th>
      <th>Gene 2</th>
      <th>Gene 2 Count</th>
      <th>Gene 1</th>
      <th>Gene 1 Count</th>
      <th>Annotation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>
        <sd-check-box-with-confirm [item]="item" [confirmTitle]="'Confirmation Comments'" [confirmMessage]="'Please enter a reason:'"
          [promptOnlyIf]="true" [isEnabled]="isEditable" (onItemUpdated)="onItemUpdated(item)">
        </sd-check-box-with-confirm>
      </td>
      <td>
        <a *ngIf="item.comment" (click)="editComment(item)" class="pointer-cursor" alt="Edit Comment">
            <i class="fa fa-file-text-o"></i>
        </a>
        <p *ngIf="!item.comment"> - </p>
      </td>      
      <td><cosmic-link [linkType]="'cosmicFusionId'" [linkId]="item.identifier"></cosmic-link></td>
      <td>{{item.aMoi | dashify}}</td>
      <td><cosmic-link [linkType]="'cosmicGene'" [linkId]="item.driverGene"></cosmic-link></td>
      <td>{{item.driverReadCount | dashify}}</td>
      <td><cosmic-link [linkType]="'cosmicGene'" [linkId]="item.partnerGene"></cosmic-link></td>
      <td>{{item.partnerReadCount | dashify}}</td>
      <td>{{item.annotation | dashify}}</td>
    </tr>
    <tr *ngIf="!items || !items.length">
      <td colspan="8" class="text-muted">No {{title}} data</td>
    </tr>
  </tbody>
</table>