<h4>Copy Number Variants</h4>
<div class="row">
  <div class="col-md-6">
    <div class="dataTables_length form-inline p-t-15 p-b-10" id="data-table_length">
      <label>Show
        <select name="data-table_length" [(ngModel)]="recordsPerPage" aria-controls="data-table" class="form-control input-sm">
        <option [ngValue]=10>10</option>
        <option [ngValue]=25>25</option>
        <option [ngValue]=50>50</option>
        <option [ngValue]=100>100</option>
        </select> entries
      </label>
    </div>
  </div>
  <div class="col-md-6 p-r-5">
    <div id="data-table_filter" class="dataTables_filter pull-right form-inline p-t-15 p-b-10">
      <label>Search:
        <input type="text" [(ngModel)]="searchTerm" class="form-control input-sm" placeholder="" aria-controls="data-table">                      
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div class="table-responsive col-lg-12">
    <table class="table table-td-valign-middle table-striped table-col-width" [mfData]="items | filterByText: searchTerm" #mfTable="mfDataTable"
      [(mfSortBy)]="defaultSort" [mfRowsOnPage]="recordsPerPage">
      <thead>
        <tr [ngClass]="{true:'purple-light',false:'orangeshade-light'}[type=='patient']">
          <th><mfDefaultSorter by="identifier"><span class="table-header">ID</span></mfDefaultSorter></th>
          <th><mfDefaultSorter by="chromosome"><span class="table-header">Chrom</span></mfDefaultSorter></th>
          <th><mfDefaultSorter by="position"><span class="table-header">Position </span></mfDefaultSorter></th>
          <th><mfDefaultSorter by="filter"><span class="table-header">Filter </span></mfDefaultSorter></th>
          <th><mfDefaultSorter by="raw_copy_number"><span class="table-header">Raw CN</span></mfDefaultSorter></th>
          <th><mfDefaultSorter by="copy_number"><span class="table-header">CN</span></mfDefaultSorter></th>
          <th><mfDefaultSorter by="confidence_interval_5_percent"><span class="table-header">CI 5%</span></mfDefaultSorter></th>
          <th><mfDefaultSorter by="confidence_interval_95_percent"><span class="table-header">CI 95%</span></mfDefaultSorter></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of mfTable.data">
          <td><cosmic-link [linkType]="'geneId'" [linkId]="item.identifier"></cosmic-link></td>
          <td>{{item.chromosome | dashify}}</td>
          <td>{{item.position | dashify}}</td>
          <td>{{item.filter | dashify}}</td>
          <td>{{item.raw_copy_number | dashify}}</td>
          <td>{{item.copy_number | dashify}}</td>
          <td>{{item.confidence_interval_5_percent | dashify}}</td>
          <td>{{item.confidence_interval_95_percent | dashify}}</td>
        </tr>
        <tr *ngIf="!items || mfTable.data.length == 0">
          <td class="text-muted" colspan="7">
            <span *ngIf="searchTerm">No matching search results found for "{{searchTerm}}"</span>
            <span *ngIf="!searchTerm">No Copy Number Variant data</span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="tfoot-padding" colspan="7">
            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]" [search]="searchTerm" [totallength]="items ? items.length : 0"></mfBootstrapPaginator>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
