<div *ngIf="auth.authenticated()" id="footer" class="footer text-center footer-format">
  <span>
    <strong><a href="https://www.cancer.gov/" target="_blank">National Cancer Institute</a></strong> at <a href="https://www.nih.gov/"
    target="_blank">National Institutes of Health</a>
  </span>
  <span class="contact" id="contact">
    <span id="mail-to"> Contact us: <a class="link-email" href="mailto:matchbox-support@nih.gov">matchbox-support@nih.gov</a></span>
  </span>
  <span id="buildinfo" *ngIf="buildInfo" class="build-info text-muted">MATCH UI: {{buildInfo.buildNumber}}, {{buildInfo.buildTime}}</span>
</div>