<h4>{{title}}</h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Confirm</th>
      <th>ID</th>
      <th>aMOI</th>
      <th>Gene 2</th>
      <th>Gene 2 Count</th>
      <th>Gene 1</th>
      <th>Gene 1 Count</th>
      <th>Annotation</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>
        <input type="checkbox" name="chr" value="checked" checked disabled>
        <input type="checkbox" name="chr" value="checked" checked disabled>
      </td>
      <td>
        <cosmic-link [linkType]="'cosmicFusionId'" [linkId]="item.outsideData.identifier"></cosmic-link>
        <cosmic-link [linkType]="'cosmicFusionId'" [linkId]="item.matchData.identifier"></cosmic-link>
      </td>
      <td>
        {{item.aMoi | dashify}}
        {{item.aMoi | dashify}}
      </td>
      <td>
        <cosmic-link [linkType]="'cosmicGene'" [linkId]="item.outsideData.driverGene"></cosmic-link>
        <cosmic-link [linkType]="'cosmicGene'" [linkId]="item.matchData.driverGene"></cosmic-link>
      </td>
      <td>
        {{item.outsideData.driverReadCount | dashify}}
        {{item.matchData.driverReadCount | dashify}}
      </td>
      <td>
        <cosmic-link [linkType]="'cosmicGene'" [linkId]="item.outsideData.partnerGene"></cosmic-link>
        <cosmic-link [linkType]="'cosmicGene'" [linkId]="item.matchData.partnerGene"></cosmic-link>
      </td>
      <td>
        {{item.outsideData.partnerReadCount | dashify}}
        {{item.matchData.partnerReadCount | dashify}}
      </td>
      <td>
        {{item.outsideData.annotation | dashify}}
        {{item.matchData.annotation | dashify}}
      </td>
    </tr>
    <tr *ngIf="!items || !items.length">
      <td colspan="8" class="text-muted">No {{title}} data</td>
    </tr>
  </tbody>
</table>