@import "./../../../scss/colors.scss";

.pass-fail {
  width: 95px;
}
.outside-data {
  display: block
}

.match-data {
  display: block
}

.has-diff {
  color: $bg-danger-color !important;
  font-weight: bold;
}

.outside-data-row {
  td {
    background-color: #d7eff6;
    color: #277b94;    
  }

  td.bg-reset {
    background: inherit;
  }
}

.match-data-row {
  td {
    background-color: #feefd9;
    color: #b17b2e;
  }
}
