<h4>{{title}}</h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <th class="pass-fail-column"></th>
      <th>ID</th>
      <th>aMOI</th>
      <th>Gene 2</th>
      <th>Gene 2 Count</th>
      <th>Gene 1</th>
      <th>Gene 1 Count</th>
      <th>Annotation</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-item [ngForOf]="items">
      <tr *ngIf="item.outsideData" class="outside-data-row">
        <td rowspan="2" class="bg-reset text-center">
          <div class="m-t-13">
            <span class="badge badge-lime" *ngIf="item.pass">Pass</span>
            <span class="badge badge-danger" *ngIf="!item.pass">Fail</span>
          </div>
        </td>

        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['identifier']}">
          <span class="outside-data"><cosmic-link [linkType]="'cosmicFusionId'" [linkId]="item.outsideData.identifier"></cosmic-link></span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['aMoi']}">
          <span class="outside-data">{{item.outsideData.aMoi | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['driverGene']}">
          <span class="outside-data"><cosmic-link [linkType]="'cosmicGene'" [linkId]="item.outsideData.driverGene"></cosmic-link></span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['driverReadCount']}">
          <span class="outside-data">{{item.outsideData.driverReadCount | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['partnerGene']}">
          <span class="outside-data"><cosmic-link [linkType]="'cosmicGene'" [linkId]="item.outsideData.partnerGene"></cosmic-link></span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['partnerReadCount']}">
          <span class="outside-data">{{item.outsideData.partnerReadCount | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['annotation']}">
          <span class="outside-data">{{item.outsideData.annotation | dashify}}</span>
        </td>        
      </tr>

      <tr *ngIf="!item.outsideData" class="outside-data-row">
        <td rowspan="2" class="bg-reset text-center">
          <div class="m-t-13">
            <span class="badge badge-lime" *ngIf="item.pass">Pass</span>
            <span class="badge badge-danger" *ngIf="!item.pass">Fail</span>
          </div>
        </td>
        <td colspan="7"><span class="text-muted">No Outside Lab row</span></td>
      </tr>

      <tr *ngIf="item.matchData" class="match-data-row">
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['identifier']}">
          <span class="match-data"><cosmic-link [linkType]="'cosmicFusionId'" [linkId]="item.matchData.identifier"></cosmic-link></span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['aMoi']}">
          <span class="match-data">{{item.matchData.aMoi | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['driverGene']}">
          <span class="match-data"><cosmic-link [linkType]="'cosmicGene'" [linkId]="item.matchData.driverGene"></cosmic-link></span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['driverReadCount']}">
          <span class="match-data">{{item.matchData.driverReadCount | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['partnerGene']}">
          <span class="match-data"><cosmic-link [linkType]="'cosmicGene'" [linkId]="item.matchData.partnerGene"></cosmic-link></span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['partnerReadCount']}">
          <span class="match-data">{{item.matchData.partnerReadCount | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['annotation']}">
          <span class="match-data">{{item.matchData.annotation | dashify}}</span>
        </td>        
      </tr>

      <tr *ngIf="!item.matchData" class="match-data-row">
        <td colspan="8"><span class="text-muted">No Confirmation Report row</span></td>
      </tr>

    </ng-template>

    <tr *ngIf="!items || !items.length">
      <td colspan="8" class="text-muted">No {{title}} data</td>
    </tr>
  </tbody>
</table>
