@import "./../../../scss/colors.scss";

.pass-fail-column {
  width: 50px;
}

.outside-data {
  display: block
}

.match-data {
  display: block
}

.has-diff {
  color: $bg-danger-color !important;
  font-weight: bold;
}

.match-data-row {
  td {
    background-color: $bg-match-color;
    color: $text-match-color;
  }
}

.outside-data-row {
  td {
    background-color: $bg-outside-color;
    color: $text-outside-color;
  }
  td.bg-reset {
    background: inherit;
  }
}

.table > tbody > tr.outside-data-row > td {
  border-color: $bg-purple-light !important;
  border-width: 1px;
}