@import "./../../../scss/colors.scss";

.pass-fail {
  width: 95px;
}

.outside-data {
  display: block
}

.match-data {
  display: block
}

.has-diff {
  color: $bg-danger-color !important;
  font-weight: bold;
}

.match-data-row {
  td {
    background-color: $bg-match-color;
    color: $text-match-color;
  }
}

.outside-data-row {
  td {
    background-color: $bg-outside-color;
    color: $text-outside-color;
  }
  td.bg-reset {
    background: inherit;
  }
}

.outside-data-text {
  background-color: $bg-outside-color;
  color: $text-outside-color;
  font-size: 100%;
}

.match-data-text {
  background-color: $bg-match-color;
  color: $text-match-color;
  font-size: 100%;
}
