<h4>{{title}}</h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Confirm</th>
      <th>ID</th>
      <th>aMOI</th>
      <th>Chrom</th>
      <th>Position</th>
      <th>Reference</th>
      <th>Alternative</th>
      <th>Allele Freq</th>
      <th>Gene</th>
      <th>Oncomine Variant Class</th>
      <th>Exon</th>
      <th>Function</th>
      <th>HGVS</th>
      <th>Read Depth </th>
      <th>Transcript</th>
      <th>Protein</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of items">
      <td>
        <input type="checkbox" name="chr" value="checked" checked disabled>
        <input type="checkbox" name="chr" value="checked" checked disabled>
      </td>
      <td>
        <cosmic-link [linkType]="'cosmicId'" [linkId]="item.outsideData.identifier"></cosmic-link>
        <cosmic-link [linkType]="'cosmicId'" [linkId]="item.matchData.identifier"></cosmic-link>
      </td>
      <td>
        {{item.outsideData.aMoi | dashify}}
        {{item.matchData.aMoi | dashify}}
      </td>
      <td>
        {{item.outsideData.chromosome | dashify}}
        {{item.matchData.chromosome | dashify}}
      </td>
      <td>
        {{item.outsideData.position | dashify}}
        {{item.matchData.position | dashify}}
      </td>
      <td class="long-text-wrap">
        {{item.outsideData.reference | dashify}}
        {{item.matchData.reference | dashify}}
      </td>
      <td class="long-text-wrap">
        {{item.outsideData.alternative | dashify}}
        {{item.matchData.alternative | dashify}}
      </td>
      <td>
        {{item.outsideData.alleleFreq | dashify}}
        {{item.matchData.alleleFreq | dashify}}
      </td>
      <td>
        <cosmic-link [linkType]="'cosmicGene'" [linkId]="item.outsideData.funcGene"></cosmic-link>
        <cosmic-link [linkType]="'cosmicGene'" [linkId]="item.matchData.funcGene"></cosmic-link>
      </td>
      <td>
        {{item.outsideData.oncomineVariantClass | dashify}}
        {{item.matchData.oncomineVariantClass | dashify}}
      </td>
      <td>
        {{item.outsideData.exon | dashify}}
        {{item.matchData.exon | dashify}}
      </td>
      <td>
        {{item.outsideData.function | dashify}}
        {{item.matchData.function | dashify}}
      </td>
      <td>
        {{item.outsideData.hgvs | dashify}}
        {{item.matchData.hgvs | dashify}}
      </td>
      <td>
        {{item.outsideData.readDepth | dashify}}
        {{item.matchData.readDepth | dashify}}
      </td>
      <td>
        {{item.outsideData.transcript | dashify}}
        {{item.matchData.transcript | dashify}}
      </td>
      <td>
        {{item.outsideData.protein | dashify}}
        {{item.matchData.protein | dashify}}
      </td>
    </tr>
    <tr *ngIf="!items || !items.length">
      <td colspan="17" class="text-muted">No {{title}} data</td>
    </tr>
  </tbody>
</table>