<h4>{{title}}</h4>
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Confirm</th>
      <th>ID</th>
      <th>aMOI</th>
      <th>Chrom</th>
      <th>Position </th>
      <th>Raw CN</th>
      <th>CN</th>
      <th>CI 5%</th>
      <th>CI 95%</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-item [ngForOf]="items">
      <tr *ngIf="item.outsideData" class="outside-data-row">
        <td rowspan="2" class="bg-reset">
          <div class="m-t-10">
            <span class="badge badge-lime">Pass</span>
            <span class="badge badge-danger">Fail</span>
          </div>
        </td>

        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['identifier']}">
          <span class="outside-data"><cosmic-link [linkType]="'cosmicGene'" [linkId]="item.outsideData.identifier"></cosmic-link></span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['aMoi']}">
          <span class="outside-data">{{item.outsideData.outsideData.aMoi | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['chromosome']}">
          <span class="outside-data">{{item.outsideData.outsideData.chromosome | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['position']}">
          <span class="outside-data">{{item.outsideData.outsideData.position | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['rawCn']}">
          <span class="outside-data">{{item.outsideData.outsideData.rawCn | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['cn']}">
          <span class="outside-data">{{item.outsideData.outsideData.cn | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['ci5Percent']}">
          <span class="outside-data">{{item.outsideData.outsideData.ci5Percent | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['ci95Percent']}">
          <span class="outside-data">{{item.outsideData.outsideData.ci95Percent | dashify}}</span>
        </td>
      </tr>

      <tr *ngIf="!item.outsideData" class="outside-data-row">
        <td rowspan="2" class="bg-reset">
          <div class="m-t-10">
            <span class="badge badge-lime">Pass</span>
            <span class="badge badge-danger">Fail</span>
          </div>
        </td>
        <td colspan="8"><span class="text-muted">No Outside Lab row</span></td>
      </tr>

      <tr *ngIf="item.matchData" class="match-data-row">
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['identifier']}">
          <span class="match-data"><cosmic-link [linkType]="'cosmicGene'" [linkId]="item.matchData.identifier"></cosmic-link></span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['aMoi']}">
          <span class="match-data">{{item.matchData.matchData.aMoi | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['chromosome']}">
          <span class="match-data">{{item.matchData.matchData.chromosome | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['position']}">
          <span class="match-data">{{item.matchData.matchData.position | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['rawCn']}">
          <span class="match-data">{{item.matchData.matchData.rawCn | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['cn']}">
          <span class="match-data">{{item.matchData.matchData.cn | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['ci5Percent']}">
          <span class="match-data">{{item.matchData.matchData.ci5Percent | dashify}}</span>
        </td>
        <td [ngClass]="{'has-diff':item && item.hasDifference && item.hasDifference['ci95Percent']}">
          <span class="match-data">{{item.matchData.matchData.ci95Percent | dashify}}</span>
        </td>
      </tr>

      <tr *ngIf="!item.matchData" class="match-data-row">
        <td colspan="9"><span class="text-muted">No Confirmation Report row</span></td>
      </tr>

    </ng-template>
    <tr *ngIf="!items || !items.length">
      <td colspan="9" class="text-muted">No {{title}} data</td>
    </tr>
  </tbody>
</table>